<% layout('../layout') %>
<div class="mt-12 mb-12">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="text-center">
                    <h2>
                        <a href="index.html">
                            <img src="assets/images/logo-dark.png" alt="main-logo" height="22" />
                        </a>
                    </h2>

                    <h3 class="mt-4">Stay tunned, we're launching very soon</h3>
                    <p class="text-muted">We're making the system more awesome.</p>

                </div>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="col-md-8 text-center">
                <div data-countdown="2020/01/17" class="counter-number"></div>
            </div> <!-- end col-->
        </div> <!-- end row-->

    </div>
</div>
