<% layout('../layout') %>
<div class="content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box pt-0 pb-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item " aria-current="page"><a href="/"> Home </a></li>
                            <li class="breadcrumb-item active" aria-current="page">Fund Request</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="card-box">
            <h5 class="mb-3">Fund Request</h5>
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item">
                    <a href="#creditReq" data-toggle="tab" aria-expanded="false" class="nav-link active">
                        <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                        <span class="d-none d-sm-block" style="font-size: 12px;">Credit Request</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#appCreditReq" data-toggle="tab" aria-expanded="true" class="nav-link" id="approvedReq">
                        <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                        <span class="d-none d-sm-block" style="font-size: 12px;">Approved Credit Request</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#debitReq" data-toggle="tab" aria-expanded="false" class="nav-link" onclick="debitReq(this)">
                        <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                        <span class="d-none d-sm-block" style="font-size: 12px;">Debit Request</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#appDebitReq" data-toggle="tab" aria-expanded="false" class="nav-link">
                        <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                        <span class="d-none d-sm-block" style="font-size: 12px;">Approved Debit Request</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#decDebitReq" data-toggle="tab" aria-expanded="false" class="nav-link">
                        <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                        <span class="d-none d-sm-block" style="font-size: 12px;">Declined Debit Request</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#compReq" data-toggle="tab" aria-expanded="false" class="nav-link" >
                        <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                        <span class="d-none d-sm-block" style="font-size: 12px;">Completed Request</span>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade show active" id="creditReq">
                    <div class="container-fluid">
                        <div class="row ">
                            <div class="col-xl-12 col-md-12" >
                                <h4 class="mt-0 header-title"></h4>
                                <div class="table-responsive" data-pattern="priority-columns">
                                    <table id="datatable" class="table table-bordered dt-responsive nowrap creditReq text-center">
                                        <thead>
                                        <tr class="text-danger">
                                            <th>Name</th>
                                            <th>Username</th>
                                            <th>Mobile</th>
                                            <th>Amount</th>
                                            <th>Type</th>
                                            <th>Status</th>
                                            <th>Created</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>

                                        <tbody class="text-dark" id="pendingCreditReq">
                                        <%
                                        for(var index in data){
                                            var i = parseInt([index]);
                                            var j = i+1;
                                        %>

                                        <tr id="mb<%= data[index].userId %>">
                                            <td><%=data[index].fullname %></td>
                                            <td><%=data[index].username %></td>
                                            <td><%=data[index].mobile %></td>
                                            <td><%=data[index].reqAmount %></td>
                                            <td><p class="badge badge-purple"><%=data[index].reqType %></p> </td>
                                            <td><p class="badge badge-success"><%=data[index].reqStatus %> </p></td>
                                            <td><%=data[index].reqDate%>&nbsp;<%= data[index].reqTime %></td>
                                            <td class="text-center">
                                                <button data-userId="<%= data[index].userId %>" 
                                                    data-username="<%=data[index].username %>"
                                                    data-rowId="<%= data[index]._id %>" data-amount="<%=data[index].reqAmount %>" type="button" class="btn btn-dark waves-effect waves-light btn-xs " id="creditApprove" onclick="approve(this)" title="Approve Request"><i class="fas fa-check-circle" ></i></button>
                                                <button data-username="<%=data[index].username %>" data-userId="<%= data[index].userId %>" data-rowId="<%= data[index]._id %>" type="button" class="btn waves-effect waves-light btn-danger btn-xs " id="creditDecline" onclick="decline(this)" title="Decline Request"><i class="fas fa-trash"></i></button>

                                                <button data-username="<%=data[index].username %>" data-userId="<%= data[index].userId %>"  type="button" class="btn waves-effect waves-light btn-purple btn-xs" data-toggle="modal" data-target="#custom-modal-edit"  id="userProfile" onclick="getProfile(this)" title="User Profile"><i class="fas fa-user"></i></button>
                                            </td>
                                        </tr>
                                        <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="appCreditReq">
                    <div class="container-fluid">
                        <div class="row ">
                            <div class="col-xl-12 col-md-12">
                                <h4 class="mt-0 header-title"></h4>
                                <div class="table-responsive" data-pattern="priority-columns">
                                    <table id="datatable1" class="datatable table table-bordered dt-responsive text-center nowrap approvedReqTable">
                                        <thead>
                                        <tr class="text-danger">
                                            <th>Sr.</th>
                                            <th>Name</th>
                                            <th>Username</th>
                                            <th>Mobile</th>
                                            <th>Amount</th>
                                            <th>Type</th>
                                            <th>Status</th>
                                            <th>Created</th>
                                            <th>Approved at</th>
                                        </tr>
                                        </thead>
                                        <tbody class="text-dark" >

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="debitReq">
                    <div class="container-fluid">
                        <div class="row ">
                            <div class="col-xl-12 col-md-12">
                                <h4 class="mt-0 header-title"></h4>
                                <div class="table-responsive" data-pattern="priority-columns">
                                    <table id="datatable3" class="datatable table  table-bordered text-center dt-responsive nowrap">
                                        <thead>
                                        <tr class="text-danger">
                                            <th>Sr.</th>
                                            <th>Name</th>
                                            <th>Username</th>
                                            <th>Mobile</th>
                                            <th>Amount</th>
                                            <th>Type</th>
                                            <th>Mode</th>
                                            <th>Status</th>
                                            <th>Created</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody class="text-dark">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="appDebitReq">
                    <div class="container-fluid">
                        <div class="row ">
                            <div class="col-xl-12 col-md-12">
                                <h4 class="mt-0 header-title"></h4>
                                <div class="table-responsive" data-pattern="priority-columns">
                                    <table id="datatable4" class="datatable table table-bordered text-center dt-responsive nowrap">
                                        <thead>
                                        <tr class="text-danger">
                                            <th>Sr.</th>
                                            <th>Name</th>
                                            <th>Username</th>
                                            <th>Mobile</th>
                                            <th>Amount</th>
                                            <th>Type</th>
                                            <th>Status</th>
                                            <th>Created</th>
                                            <th>Mode</th>
                                            <th>Approved at</th>
                                        </tr>
                                        </thead>
                                        <tbody class="text-dark">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="decDebitReq">
                    <div class="container-fluid">
                        <div class="row ">
                            <div class="col-xl-12 col-md-12">
                                <h4 class="mt-0 header-title"></h4>
                                <div class="table-responsive" data-pattern="priority-columns">
                                    <table id="datatable5" class="datatable text-center table table-bordered dt-responsive nowrap">
                                        <thead>
                                        <tr class="text-danger">
                                            <th>Sr.</th>
                                            <th>Name</th>
                                            <th>Username</th>
                                            <th>Mobile</th>
                                            <th>Amount</th>
                                            <th>Type</th>
                                            <th>Status</th>
                                            <th>Created At</th>
                                            <th>Updated At</th>
                                        </tr>
                                        </thead>
                                        <tbody class="text-dark">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="compReq">
                    <div class="container-fluid">
                        <div class="row ">
                            <div class="col-xl-12 col-md-12">
                                <h4 class="mt-0 header-title"></h4>
                                <div class="table-responsive" data-pattern="priority-columns">
                                    <table id="datatable6" class="datatable text-center table table-bordered dt-responsive nowrap">
                                        <thead>
                                        <tr class="text-danger">
                                            <th>Sr.</th>
                                            <th>Firstname</th>
                                            <th>Username</th>
                                            <th>Mobile</th>
                                            <th>Amount</th>
                                            <th>Type</th>
                                            <th>Status</th>
                                            <th>Date</th>
                                            <th>Time</th>
                                        </tr>
                                        </thead>
                                        <tbody class="text-dark">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="custom-modal-edit"  class="modal fade bs-example-modal-center show" tabindex="-1" role="dialog" aria-labelledby="myCenterModalLabel"  aria-modal="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" id="myCenterModalLabel">User Profile</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="bg-picture card-box">
                    <div class="profile-info-name">


                        <img src="../assets/images/users/user-1.jpg" class="rounded-circle avatar-xl img-thumbnail float-left mr-3" alt="profile-image">
                        <h1 id="notFound"></h1>
                        <div class="profile-info-detail overflow-hidden">

                            <h4 class="m-0 font-20" id="username"></h4>
                            <p class="font-14 text-muted" id="balance"><i></i></p>
                            <p class="text-black-50 font-16" id="address"></p>
                            <p class="font-16 text-black-50" id="city"></p>
                            <p class="font-16 text-black-50" id="pincode"></p>
                            <p class="font-16 text-black-50" id="accNo"></p>
                            <p class="font-16 text-black-50" id="bankName"></p>
                            <p class="font-16 text-black-50" id="ifsc"></p>
                            <p class="font-16 text-black-50" id="accHolder"></p>
                            <p class="font-16 text-black-50" id="paytm"></p>
                            <p class="font-16 text-black-50" id="phonepe"></p>
                            <p class="font-16 text-black-50" id="tez"></p>
                            <p class="font-16 text-black-50" id="regular"></p>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const pusher = new Pusher('6e949bd79592c3ee46f7', {
        cluster: 'ap2',
        forceTLS: true
    });
    const channel = pusher.subscribe('my-channel');
    channel.bind('my-event', function(data) {
        console.log(data.message);
        console.log(data.toast);
        if (data.type == 1) {
            pendingCredit();
            getCount();
        }
        else{
            debitReq(this);
            getCount();
        }
        
        toastr["info"](data.toast, "Kuber Starline");
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "linear",
            "hideEasing": "linear",
            "showMethod": "slideDown",
            "hideMethod": "slideUp"
        }
    });
</script>
<script>
    function pendingCredit() {
        $.ajax({
            type: "get",
            url: "/fundRequest/other",
            data: { data : "pendingCredit"},
            contentType: "text/plain",
            dataType: 'json',
            success: function (data) {
                if (Object.keys(data).length === 0){
                    console.log("No Data Available");
                    $('#datatable').dataTable().fnDeleteRow();
                }
                else{
                $("#datatable").DataTable().clear();
                let i=1;
                data.forEach(function(e) {
                    $('#datatable').dataTable().fnAddData( [
                        e.fullname,
                        e.username,
                        e.mobile,
                        '<p class="badge badge-purple">' + e.reqAmount + '</p>',
                        '<p class="badge badge-success">' + e.reqType+ '</p>',
                        e.reqStatus,
                        e.reqDate + e.reqTime,
                        '<button data-username="' + e.username + '" data-userId="'+ e.userId +'" data-rowId="'+ e._id +'" data-amount="'+ e.reqAmount +'" type="button" class="btn btn-dark waves-effect waves-light btn-xs mr-1" id="creditApprove" onclick="approve(this)" title="Approve Request"><i class="fas fa-check-circle"></i></button><button data-username="' + e.username + '" data-userId="'+ e.userId +'" data-rowId="'+ e._id +'" type="button" class="btn waves-effect waves-light btn-danger btn-xs mr-1" id="creditDecline" onclick="decline(this)" title="Decline Request"><i class="fas fa-trash"></i></button><button data-username="' + e.username + '" data-userId="'+ e.userId +'" type="button" class="btn waves-effect waves-light btn-purple btn-xs mr-1" id="userProfile" data-toggle="modal" data-target="#custom-modal-edit" onclick="getProfile(this)" title="User Profile"><i class="fas fa-user"></i></button>'
                ]);
                i++
                });
                }
            },
            error: function (e) {
                console.log("There was an error with your request...");
                console.log("error: " + JSON.stringify(e));
            }
        });
    }
</script>
<script>
$(document).ready(function() {
    $("#datatable").DataTable(); 

        $.ajax({
            type: "get",
            url: "/fundRequest/other",
            data: { data : "pendingDebit"},
            contentType: "text/plain",
            dataType: 'json',
            success: function (data) {
                console.log(data);
                if (Object.keys(data).length === 0)
                {
                    console.log("No Data Available");
                    $('#datatable3').dataTable().fnDeleteRow();
                }
                else
                {
                $("#datatable3").DataTable().clear();
                let i=1;
                data.forEach(function(e) {
                    $('#datatable3').dataTable().fnAddData( [
                        i,
                        e.fullname,
                        e.username,
                        e.mobile,
                        '<p class="badge badge-purple">' + e.reqAmount + '</p>',
                        '<p class="badge badge-success">' + e.reqType+ '</p>',
                        e.withdrawalMode,
                        e.reqStatus,
                        e.reqDate,
                        '<button data-username="' + e.username +'" data-userId="'+ e.userId +'" data-rowId="'+ e._id +'" data-amount="'+ e.reqAmount +'" type="button" class="btn btn-dark waves-effect waves-light btn-xs mr-1" id="creditApprove" onclick="approveDebit(this)" title="Approve Request"><i class="fas fa-check-circle"></i></button><button data-username="' + e.username +'" data-userId="'+ e.userId +'" data-rowId="'+ e._id +'" type="button" class="btn waves-effect waves-light btn-danger btn-xs mr-1" id="creditDecline" onclick="decline(this)" title="Decline Request"><i class="fas fa-trash"></i></button><button data-username="' + e.username +'" data-userId="'+ e.userId +'" type="button" class="btn waves-effect waves-light btn-purple btn-xs mr-1" id="userProfile" data-toggle="modal" data-target="#custom-modal-edit"  id="userProfile" onclick="getProfile(this)" title="User Profile"><i class="fas fa-user"></i></button>'
                ]);
                i++
                });
                }
            },
            error: function (e) {
                console.log("There was an error with your request...");
                console.log("error: " + JSON.stringify(e));
            }
        });

        $.ajax({
            type: 'GET',
            url: "/fundRequest/other",
            data: { data : "approvedReq"},
            contentType: "text/plain",
            dataType: 'json',
            success: function (data) {
                $(".approvedReqTable").DataTable().clear();
                let i=1;
                data.forEach(function(e) {
                    $('.approvedReqTable').dataTable().fnAddData( [
                        i,
                        e.fullname,
                        e.username,
                        e.mobile,
                        '<p class="badge badge-purple">' + e.reqAmount + '</p>',
                        '<p class="badge badge-success">' + e.reqType+ '</p>',
                        e.reqStatus,
                        e.reqDate,
                        e.reqUpdatedAt
                ]);
                i++
                });
            },
            error: function (e) {
                console.log("There was an error with your request...");
                console.log("error: " + JSON.stringify(e));
            }
        });

        $.ajax({
            type: "get",
            url: "/fundRequest/other",
            data: { data : "approvedDebit"},
            contentType: "text/plain",
            dataType: 'json',
            success: function (data) {
                $("#datatable4").DataTable().clear();
                let i=1;
                data.forEach(function(e) {
                    $('#datatable4').dataTable().fnAddData( [
                        i,
                        e.fullname,
                        e.username,
                        e.mobile,
                        '<p class="badge badge-purple">' + e.reqAmount + '</p>',
                        '<p class="badge badge-success">' + e.reqType+ '</p>',
                        e.reqStatus,
                        e.reqDate,
                        e.withdrawalMode,
                        e.reqUpdatedAt
                ]);
                i++
                });
            },
            error: function (e) {
                console.log("There was an error with your request...");
                console.log("error: " + JSON.stringify(e));
            }
        });

        $.ajax({
            type: "get",
            url: "/fundRequest/other",
            data: { data : "declinedDebit"},
            contentType: "text/plain",
            dataType: 'json',
            success: function (data) {
                $("#datatable5").DataTable().clear();
                let i=1;
                data.forEach(function(e) {
                    $('#datatable5').dataTable().fnAddData( [
                        i,
                        e.fullname,
                        e.username,
                        e.mobile,
                        '<p class="badge badge-purple">' + e.reqAmount + '</p>',
                        '<p class="badge badge-success">' + e.reqType+ '</p>',
                        e.reqStatus,
                        e.reqDate,
                        e.reqUpdatedAt
                ]);
                i++
                });
            },
            error: function (e) {
                console.log("There was an error with your request...");
                console.log("error: " + JSON.stringify(e));
            }
        });

        $.ajax({
            type: "get",
            url: "/fundRequest/other",
            data: { data : "completed"},
            contentType: "text/plain",
            dataType: 'json',
            success: function (data) {
                $("#datatable6").DataTable().clear();
                let i=1;
                data.forEach(function(e) {
                    $('#datatable6').dataTable().fnAddData( [
                        i,
                        e.fullname,
                        e.username,
                        e.mobile,
                        '<p class="badge badge-purple">' + e.reqAmount + '</p>',
                        '<p class="badge badge-success">' + e.reqType+ '</p>',
                        e.reqStatus,
                        e.reqDate,
                        e.reqUpdatedAt
                ]);
                i++
                });
            },
            error: function (e) {
                console.log("There was an error with your request...");
                console.log("error: " + JSON.stringify(e));
            }
        
        });
});
</script>
<script>
    function debitReq(obj) {
        $.ajax({
            type: "get",
            url: "/fundRequest/other",
            data: { data : "pendingDebit"},
            contentType: "text/plain",
            dataType: 'json',
            success: function (data) {
                console.log(data);
                if (Object.keys(data).length === 0){
                    console.log("No Data Available");
                    $('#datatable3').dataTable().fnDeleteRow();
                }
                else{
                $("#datatable3").DataTable().clear();
                let i=1;
                data.forEach(function(e) {
                    $('#datatable3').dataTable().fnAddData( [
                        i,
                        e.fullname,
                        e.username,
                        e.mobile,
                        '<p class="badge badge-purple">' + e.reqAmount + '</p>',
                        '<p class="badge badge-success">' + e.reqType+ '</p>',
                        e.withdrawalMode,
                        e.reqStatus,
                        e.reqDate,
                        '<button data-username="' + e.username +'" data-userId="'+ e.userId +'" data-rowId="'+ e._id +'" data-amount="'+ e.reqAmount +'" type="button" class="btn btn-dark waves-effect waves-light btn-xs mr-1" id="creditApprove" onclick="approveDebit(this)" title="Approve Request"><i class="fas fa-check-circle"></i></button><button data-username="' + e.username +'" data-userId="'+ e.userId +'" data-rowId="'+ e._id +'" type="button" class="btn waves-effect waves-light btn-danger btn-xs mr-1" id="creditDecline" onclick="decline(this)" title="Decline Request"><i class="fas fa-trash"></i></button><button data-username="' + e.username +'" data-userId="'+ e.userId +'" type="button" class="btn waves-effect waves-light btn-purple btn-xs mr-1" id="userProfile" data-toggle="modal" data-target="#custom-modal-edit"  id="userProfile" onclick="getProfile(this)" title="User Profile"><i class="fas fa-user"></i></button>'
                ]);
                i++
                });
                }
            },
            error: function (e) {
                console.log("There was an error with your request...");
                console.log("error: " + JSON.stringify(e));
            }
    });
}
</script>
<script>
    function approve(obj){
        const id = $(obj).attr('data-userId');
        const rowId = $(obj).attr('data-rowId');
        const amount = $(obj).attr('data-amount');
        const username = $(obj).attr('data-username');
        $.ajax({
            type: "patch",
            url: "/fundRequest/updateWallet/1",
            data: { userId : id, rowId : rowId, amount: amount,username: username },
            success: function(data) {
                pendingCredit();
                getCount();
            }
        });
    }

    function decline(obj){
        const rowId = $(obj).attr('data-rowId');
        const id = $(obj).attr('data-userId');
        $.ajax({
            type: "patch",
            url: "/fundRequest/decline",
            data: {rowId : rowId},
            success: function(data) {
                console.log(data);
                pendingCredit();
                debitReq(this);
                getCount();
            }
        });
    }

    function approveDebit(obj) {
        const id = $(obj).attr('data-userId');
        const rowId = $(obj).attr('data-rowId');
        const amount = $(obj).attr('data-amount');
        const username = $(obj).attr('data-username');
        $.ajax({
            type: "patch",
            url: "/fundRequest/updateWallet/2",
            data: { userId : id, rowId : rowId, amount: amount,username: username },
            success: function(data) {
                debitReq(this);
                getCount();
            }
        });
    }
</script>
<script>
    function getProfile(obj) {
        const id = $(obj).attr('data-userId');
        console.log(id);
        $.ajax({
            type: "get",
            url: "/fundRequest/getProfile",
            data: { userId : id },
            success: function(data) {
                console.log(data.userData1);
                console.log(data.userData2);
                if(data.userData2 == null){
                    document.getElementById("notFound").innerHTML = "Profile Not Filled By User";
                }
                else if (
                    data.userData2 == null){
                    document.getElementById("notFound").innerHTML = "Profile Not Filled By User";
                }
                else{
                    document.getElementById("username").innerHTML = data.userData1.name;
                    document.getElementById("balance").innerHTML = "Wallet Balance : " + data.userData1.wallet_balance;
                    document.getElementById("address").innerHTML = "Address : " + data.userData2.address;
                    document.getElementById("accNo").innerHTML = "Address : " + data.userData2.account_no;
                    document.getElementById("city").innerHTML = "City : " + data.userData2.city;
                    document.getElementById("pincode").innerHTML = "Pincode : " + data.userData2.pincode;
                    document.getElementById("bankName").innerHTML = "Bank Name : " + data.userData2.bank_name;
                    document.getElementById("ifsc").innerHTML = "IFSC Code : " + data.userData2.ifsc_code;
                    document.getElementById("accHolder").innerHTML = "Account Holder Name : " + data.userData2.account_holder_name;
                    document.getElementById("paytm").innerHTML = "Paytm Number : " + data.userData2.paytm_number;
                    document.getElementById("phonepe").innerHTML = "PhonePe Number : " + data.userData2.phonePe_number;
                    document.getElementById("tez").innerHTML = "Tez(Google Pay) : " + data.userData2.tez_number;
                    document.getElementById("regular").innerHTML = "Personal Number : " + data.userData1.mobile;
                }
            }
        });
    }
</script>
