<% layout('../layout') %>
<div class="content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box pt-0 pb-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item " aria-current="page"><a href="/"> Home </a></li>
                            <li class="breadcrumb-item active" aria-current="page">View Wallet</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box">
                    <h4 class="mt-0 header-title">View Wallet</h4>
                    <div class="table-responsive" data-pattern="priority-columns">
                        <table id="datatable" class="table table-bordered dt-responsive nowrap text-center">
                            <thead>
                            <tr>
                                <th>Sr. No </th>
                                <th>User Name</th>
                                <th>Fullname</th>
                                <th>Mobile</th>
                                <th>Balance</th>
                                <th>Last Updated</th>
                                <th>Edit</th>
                                <th>History</th>
                                <th>Profile</th>
                            </tr>
                            </thead>
                            <tbody id="cust_data">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--history modal-->
<div class="modal fade bs-example-modal-xl show" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-modal="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myExtraLargeModalLabel">Transaction History</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" data-pattern="priority-columns">
                    <table id="datatable" class="table table-bordered dt-responsive nowrap text-center">
                        <thead>
                        <tr>

                            <th>Previous Amount</th>
                            <th>Current Amount</th>
                            <th>Transaction Amount</th>
                            <th>Description</th>
                            <th>Transaction Date</th>
                            <th>Transaction Status</th>
                            <th>Added by</th>
                        </tr>
                        </thead>
                        <tbody id="historyData">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Update Bal Modal-->
<div class="modal fade bs-example-modal-sm show" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-modal="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="mySmallModalLabel">Update Wallet Balance</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="CorD" class="col-form-label">Type</label>
                    <select id="CorD" class="form-control" required>
                        <option value="1">Credit</option>
                        <option value="0">Debit</option>
                    </select>
                </div>
                <div class="mt-3">
                    <h5>Amount</h5>
                    <input type="number" class="form-control" id="amount" required>
                    <input type="hidden" id="userid">
                </div>
                <div class="form-group">
                    <label for="inputParticular" class="col-form-label">Particular</label>
                    <select id="inputParticular" class="form-control" required>
                        <%  for(index in data){  %>
                        <option value="<%=data[index].bankName %>"><%=data[index].bankName %></option>
                        <% } %>
                    </select>
                </div>
                <button type="submit" class="btn btn-dark waves-effect waves-light" data-dismiss="modal" onclick="submit(this)">Submit</button>
            </div>
        </div>
    </div>
</div>

<!--profile modal-->
<div id="custom-modal-edit"  class="modal fade bs-example-modal-center show" tabindex="-1" role="dialog" aria-labelledby="myCenterModalLabel"  aria-modal="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" id="myCenterModalLabel">User Profile</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="bg-picture card-box">
                    <div class="profile-info-name">


                        <img src="../assets/images/users/user-1.jpg" class="rounded-circle avatar-xl img-thumbnail float-left mr-3" alt="profile-image">
                        <h1 id="notFound"></h1>
                        <div class="profile-info-detail overflow-hidden">

                            <h4 class="m-0 font-20" id="username"></h4>
                            <p class="font-14 text-muted" id="balance"><i></i></p>
                            <p class="text-black-50 font-16" id="address"></p>
                            <p class="font-16 text-black-50" id="city"></p>
                            <p class="font-16 text-black-50" id="pincode"></p>
                            <p class="font-16 text-black-50" id="accNo"></p>
                            <p class="font-16 text-black-50" id="bankName"></p>
                            <p class="font-16 text-black-50" id="ifsc"></p>
                            <p class="font-16 text-black-50" id="accHolder"></p>
                            <p class="font-16 text-black-50" id="paytm"></p>
                            <p class="font-16 text-black-50" id="phonepe"></p>
                            <p class="font-16 text-black-50" id="tez"></p>
                            <p class="font-16 text-black-50" id="regular"></p>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(baadme());

    function baadme(){
        $.ajax({
            type: "get",
            url: "/customerBalance/getData",
            success: function(data) {
                let Html;
                var i = 1;
                data.forEach(function(e) {
                    Html += '<tr><td>' + i + '</td><td>' + e.username + '</td><td>' + e.name +'</td><td>' + e.mobile + '</td><td><p class="badge badge-purple">' + e.wallet_balance + '</p></td><td>' + e.wallet_bal_updated_at+ '</td><td><button data-userid="'+ e._id +'" data-toggle="modal" data-target=".bs-example-modal-sm" class="btn btn-icon waves-effect waves-light btn-purple btn-xs" onclick="updateBal(this)" title="Update Wallet balance"><i class="fa fa-edit"></i></button></td><td><button data-userid="'+ e._id +'" data-toggle="modal" data-target=".bs-example-modal-xl" class="btn btn-icon waves-effect waves-light btn-warning btn-xs" data-name="' + e.name +'" onclick="history(this)"><i class="fa fa-history"></i></button></td><td><button data-userid="'+ e._id +'" class="btn btn-purple waves-effect waves-light btn-xs" id="profile" data-toggle="modal" data-target="#custom-modal-edit" onclick="profile(this)"><i class="fa fa-user"></i> </button></td></tr>';
                    i++
                }); $("#cust_data").html(Html);
            }
        });
    }

</script>
<script>

    function profile(obj) {
        const id = $(obj).attr('data-userId');
        console.log(id);
        $.ajax({
            type: "get",
            url: "/fundRequest/getProfile",
            data: { userId : id },
            success: function(data) {
                console.log(data.userData1);
                console.log(data.userData2);
                if(data.userData2 == null){
                    document.getElementById("notFound").innerHTML = "Profile Not Filled By User";
                }
                else if (
                    data.userData2 == null){
                    document.getElementById("notFound").innerHTML = "Profile Not Filled By User";
                }
                else{
                    document.getElementById("username").innerHTML = data.userData1.name;
                    document.getElementById("balance").innerHTML = "Wallet Balance : " + data.userData1.wallet_balance;
                    document.getElementById("address").innerHTML = "Address : " + data.userData2.address;
                    document.getElementById("accNo").innerHTML = "Address : " + data.userData2.account_no;
                    document.getElementById("city").innerHTML = "City : " + data.userData2.city;
                    document.getElementById("pincode").innerHTML = "Pincode : " + data.userData2.pincode;
                    document.getElementById("bankName").innerHTML = "Bank Name : " + data.userData2.bank_name;
                    document.getElementById("ifsc").innerHTML = "IFSC Code : " + data.userData2.ifsc_code;
                    document.getElementById("accHolder").innerHTML = "Account Holder Name : " + data.userData2.account_holder_name;
                    document.getElementById("paytm").innerHTML = "Paytm Number : " + data.userData2.paytm_number;
                    document.getElementById("phonepe").innerHTML = "PhonePe Number : " + data.userData2.phonePe_number;
                    document.getElementById("tez").innerHTML = "Tez(Google Pay) : " + data.userData2.tez_number;
                    document.getElementById("regular").innerHTML = "Personal Number : " + data.userData1.mobile;
                }
            }
        });
    }

    function history(obj) {
        const id = $(obj).attr('data-userid');
        const name = $(obj).attr('data-name');
        $.ajax({
            type: "get",
            url: "/customerBalance/history",
            data: {id : id},
            success: function(data) {
                document.getElementById("myExtraLargeModalLabel").innerHTML = "Transaction History of : " + name;
                let Html;
                var i = 1;
                data.forEach(function(e) {
                    Html += '<tr><td>' + e.previous_amount + '</td><td>' + e.current_amount + '</td><td>' + e.transaction_amount +'</td><td>' + e.description + '</td><td>' + e.transaction_date + '</td><td>' + e.transaction_status+ '</td><td>'+ e.admin_id+'</td></tr>';
                    i++
                }); $("#historyData").html(Html);
            }
        });

    }

    function submit(obj) {
        const id = document.getElementById("userid").value;
        const amount = document.getElementById("amount").value;
        const particular = document.getElementById("inputParticular").value;
        const type = document.getElementById("CorD").value;
        $.ajax({
            type: "POST",
            url: "/customerBalance/updateData",
            data: {id : id, amount : amount, particular: particular, type: type },
            success: function(data) {
                baadme();
                $("#amount").val("");
            }
        });
    }

    function updateBal(obj) {
        const id = $(obj).attr('data-userId');
        document.getElementById("userid").value = id;
    }
</script>
