<% layout('../layout') %>
<div class="content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box pt-0 pb-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item " aria-current="page"><a href="/"> Home </a></li>
                            <li class="breadcrumb-item active" aria-current="page">Ajay Sir Report</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-12">
        <div class="card-box">
            <h4 class="header-title mt-0 mb-3">Fund Report</h4>

            <div class="row">

                <div class="col-md-3">
                    <label class="col-form-label" >Start Date</label>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" placeholder="mm/dd/yyyy" id="datepicker-autoclose">
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <label class="col-form-label" >End Date</label>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" placeholder="mm/dd/yyyy" id="datepicker-autoclose">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label">Select Credit/Debit </label>
                    <div class="form-group">
                        <select id="inputState" class="form-control">
                            <option value="">Select Type</option>
                            <option selected="selected" value="Credit">Credit</option>
                            <option value="Debit">Debit</option>
                        </select>
                    </div>
                </div>


                <div class="col-md-3" style="margin-top: 38px;">

                    <button class="btn btn-danger waves-effect waves-light btn-sm"> <span>Cancel&nbsp;</span></button>
                    <button class="btn btn-dark waves-effect waves-light btn-sm "> <span>Submit&nbsp;</span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box">

                    <div class="table-responsive" data-pattern="priority-columns">
                        <table id="datatable" class="table table-bordered dt-responsive nowrap">
                            <thead>
                            <tr>
                                <th>Sr.</th>
                                <th>Name</th>
                                <th>Date & Time</th>
                                <th>Perticular</th>
                                <th>Amount</th>
                                <th>Added By</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div><!-- end col -->


        </div>
        <!-- end row -->
    </div>


</div>
