<% layout('../layout') %>

<div class="content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box pt-0 pb-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item " aria-current="page"><a href="/"> Home </a></li>
                            <li class="breadcrumb-item active" aria-current="page">All Bids</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Content-->
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box">
                    <h4 class="mt-0 header-title">All Bids</h4>
                    <div class="table-responsive" data-pattern="priority-columns">
                        <table id="datatable" class="table table-bordered dt-responsive nowrap">
                            <thead>
                            <tr>
                                <th>Bid Id</th>
                                <th>User</th>
                                <th>Provider</th>
                                <th>Session</th>
                                <th>Type</th>
                                <th>Bracket</th>
                                <th>Point(s)</th>
                                <th>Status</th>
                                <th>Played On</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td>Mohit</td>
                                <td>Barua</td>
                                <td>Shubham </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
