<% layout('../layout') %>
<div class="container-fluid">
    <div class="row ">
        <div class="col-xl-12 col-md-12">
            <div class="card-box pt-0 pb-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item " aria-current="page"><a href="/"> Home </a></li>
                        <li class="breadcrumb-item active" aria-current="page">All Users Bids</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row ">
        <div class="col-xl-6 col-md-12">

                <div class="card-box" style="margin-bottom: 5px;padding: 16px;">
                    <h4 class="mt-0 mb-0 header-title text-center">Profit/Loss Calculations</h4>
                </div>

            <div class="card-box">
                <p>Users Bids</p>
                    <div class="form-row">
                        <div class="form-group col-xl-6">
                            <label for="gamename">Player Name</label>
                            <select id="arraySelect"></select>
                            <div id="output"></div>
                        </div>
                        <div class="form-group col-xl-6">
                            <label for="gamename">Market</label>
                            <select class="form-control" id="marketName">
                                <option value="1">Main Market</option>
                                <option value="2">Starline Market</option>
                            </select>
                        </div>
                    </div>
                    <center>
                        <button class="btn btn-danger waves-effect waves-light btn-sm">Cancel</button>
                        <button type="submit" class="btn btn-primary btn-sm" id="submitInfo">Submit</button>
                    </center>
               
            </div>
        </div>
        <div class="col-xl-6 col-md-12">
            <div class="card-box">
                <table class="tablesaw table mb-0 tablesaw-swipe" data-tablesaw-mode="swipe" data-tablesaw-mode-switch="" data-tablesaw-minimap="" id="tablesaw-5771">
                    <thead>
                    <tr>
                        <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist" class=" tablesaw-swipe-cellpersist">Provider</th>
                        <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-sortable-default-col="" data-tablesaw-priority="3" class="">Type</th>
                        <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="2" class="">Bids</th>
                        <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1" class="">Amount</th>
                    </tr>
                    </thead>
                    <tbody style="font-size: 12px;" id="groupData">

                    <thead>
                    <tr id="tfoot">
                        <th colspan="2" data-tablesaw-sortable-col="" data-tablesaw-priority="persist" class=" tablesaw-swipe-cellpersist">Grand Total</th>

                        <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="2" class=""></th>
                        <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1" class=""></th>
                    </tr>
                    </thead>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box">

                    <div class="table-responsive" data-pattern="priority-columns">
                        <table id="datatable" class="table table-bordered dt-responsive nowrap">
                            <thead>
                            <tr>
                                <th>Sr.</th>
                                <th>Bracket</th>
                                <th>Amount</th>
                                <th>Provider</th>
                                <th>Type</th>
                                <th>Session</th>
                                <th>Game Date</th>
                                <th>Played on</th>
                                <th>Win Status</th>

                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div><!-- end col -->


        </div>
        <!-- end row -->
    </div>
</div>


<script>
    $("#submitInfo").click(function(){

        const marketType = $("#marketName").val();
        const userId = $("#arraySelect").val();

        $.ajax({
        type: "post",
        url: "/totalBids/getUserBidData",
        data: { marketType : marketType, userId : userId},
        success: function (data) {
                data1 = data.group;
                data2 = data.data;
                
                if (Object.keys(data1).length === 0 && Object.keys(data2).length === 0){
                    console.log("No Data Available");
                    $('#datatable').dataTable().fnDeleteRow();
                    $("#groupData").html('<tr><td colspan = "4">No Data Available</td></tr>');
                    $("#tfoot").html('');
                    toastr["warning"]("No Data Found","Kuber Starline");
                }
                else
                {
                    
                    let html;
                    let bidsum = 0;
                    let amountsum = 0;
                    data1.forEach(function(e){
                        html += '<tr><td>'+ e.providerName +'</td><td>'+ e.gameTypeName +'</td><td>'+ e.countBid +'</td><td>'+ e.sumdigit +'</td></tr>';
                        bidsum = bidsum + e.countBid;
                        amountsum = amountsum + e.sumdigit;
                    }); 
                    $("#groupData").html(html);
                    let footer = '<th colspan="2" data-tablesaw-sortable-col="" data-tablesaw-priority="persist" lass="tablesaw-swipe-cellpersist">Grand Total</th><th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="2" class="">'+bidsum+'</th><th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1" class="">'+amountsum+'</th>';
                    $("#tfoot").html(footer);
                    $("#datatable").DataTable().clear();
                    let i=1;
                    data2.forEach(function(e) {
                        $('#datatable').dataTable().fnAddData( [
                            i,
                            e.bidDigit,
                            e.biddingPoints,
                            e.providerName,
                            e.gameTypeName,
                            e.gameSession,
                            e.gameDate,
                            e.createdAt,
                            e.winStatus
                        ]);
                        i++
                    }); 
                }
            },
            error: function (e) {
                console.log("There was an error with your request...");
                console.log("error: " + JSON.stringify(e));
            }
       });
       
    });
</script>

<script>
    $(document).ready(function() {
        $.fn.select2.defaults.set("theme", "bootstrap");
        $.fn.select2.defaults.set("width", "100%");
        
        $("#selectCtrl").select2({
            theme: "bootstrap",
            ajax: {
            url: "/salesReport/getUsername",
    
            processResults: function(data) {
                var result = [];
                for (var i = 0; i < data.length; i++) {
                result.push({
                    id: data[i]._id,
                    text: data[i].name
                });
                }
                return {
                results: result
                };
            }
            }
        });
        $("#staticSelect").select2({
            placeholder: "select a name",
            minimumResultsForSearch: -1
        });
        $("#selected").on("click", function() {
            $("#output").html($("#selectCtrl").select2('data'));
        });
        var selectData = [];
        $.ajax({
            url: "/salesReport/getUsername",
            type: "get"
        }).then(function (data) {
            $(data).each(function (i) {
            selectData.push({ id: data[i]._id, text: data[i].username });
            });
            $('#arraySelect').select2({
            data: selectData
            });
        });
    });
</script>
    