<% layout('../layout') %>
<style>
.select2-selection__rendered{
    margin-top: -6px;
}
</style>
<div class="content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box pt-0 pb-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item " aria-current="page"><a href="/"> Home </a></li>
                            <li class="breadcrumb-item active" aria-current="page">Andar Bahar Detailed Bidding Report</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
     <div class="col-xl-12">
        <div class="card-box">
            <h4 class="header-title mt-0 mb-3">Andar Bahar Detailed Bidding Report</h4>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-form-label">Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control datepicker sDate" placeholder="mm/dd/yyyy" id="datepicker-autoclose">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="ti-calendar"></i></span>
                                </div>
                            </div>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <label class="col-form-label">Provider Name</label>
                    <div class="form-group">
                        <select id="gameid" class="form-control" aria-placeholder="Select Game">
                            <%  for(index in data){ %>
                                <option value="<%= data[index]._id %>"><%= data[index].providerName %></option>
                            <%  } %>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label">Game Type</label>
                    <div class="form-group">
                        <select id="gameType" class="form-control" aria-placeholder="Select Game">
                            <%  for(index in data1){ %>
                                <option value="<%= data1[index]._id %>"><%= data1[index].gameName %></option>
                            <%  } %>
                        </select>
                    </div>
                </div>

                <div class="col-md-12 text-center">
                    <button class="btn btn-danger waves-effect waves-light btn-sm"> <span>Cancel&nbsp;</span></button>
                    <button class="btn btn-dark waves-effect waves-light btn-sm" id="submitInfo"> <span>Submit&nbsp;</span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box">
                    <table id="datatable"  class="table table-bordered text-center nowrap">
                        <thead>
                        <tr>
                            <th>Sr.</th>
                            <th>Username</th>
                            <th>Bracket</th>
                            <th>Bidding Points</th>
                            <th>Winning Points</th>
                            <th>Created At</th>
                        </tr>
                        </thead>
                        <tbody id="completedata">
                        <tr>
                            <td colspan="6">No Records Found</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$("#submitInfo").click(function(){
    const StartDate = $(".sDate").val();
    const gameId = $("#gameid").val();
    const gameTypeid = $("#gameType").val();

    if(!StartDate)
    {
        toastr["info"]('Date Cannot Be Empty', "Kuber Starline");
    }
    else
    {
        $.ajax({
        type: "post",
        url: "/totalBids/andarBaharBidsData",
        data: { startDate : StartDate, gameId : gameId, gameTypeid: gameTypeid},
        success: function (data) {
                if (Object.keys(data).length === 0){
                    console.log("No Data Available");
                    $('#datatable').dataTable().fnDeleteRow();
                }
                else{
                $("#datatable").DataTable().clear();
                let i=1;
                data.forEach(function(e) {
                    $('#datatable').dataTable().fnAddData( [
                        i,
                        e.username,
                        e.bidDigit,
                        e.biddingPoints,
                        e.gameWinPoints,
                        e.createdAt,
                ]);
                i++
                });
                }
            },
            error: function (e) {
                console.log("There was an error with your request...");
                console.log("error: " + JSON.stringify(e));
            }
       });
    }
});
</script>

