<% layout('../layout') -%>
<div class="content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box pt-0 pb-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item " aria-current="page"><a href="/"> Home </a></li>
                            <li class="breadcrumb-item active" aria-current="page">Bidding Report</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card-box">
            <h4 class="header-title mt-0 mb-3">Bidding Report</h4>

            <div class="row">

                <div class="col-md-3">
                    <label class="col-form-label" >Game Name </label>
                    <div class="form-group">
                        <div class="input-group">
                            <select id="inputState" class="form-control gameProvider">
                                <% for(index in provider) { %>
                                    <option value="<%= provider[index]._id %>"><%= provider[index].providerName %></option>
                                <%}%>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <label class="col-form-label">Game Type  </label>
                    <div class="form-group">
                        <select id="inputState" class="form-control gameType">
                            <% for(index in list) { %>
                                <option value="<%= list[index]._id %>"><%= list[index].gameName %></option>
                            <%}%>
                            </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <label class="col-form-label">Game Session</label>
                    <div class="form-group">
                        <select id="inputState" class="form-control gameSession">
                            <option value="Open">Open</option>
                            <option value="Close">Close</option>
                            <option value="3">Half Sangam</option>
                            <option value="4">Full Sangam</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-form-label">Date</label>
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" placeholder="mm/dd/yyyy" id="datepicker-autoclose">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="ti-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <button class="btn btn-danger waves-effect waves-light btn-sm"> <span>Cancel&nbsp;</span></button>
                    <button class="btn btn-dark waves-effect waves-light btn-sm" id="submitInfo"> <span>Submit&nbsp;</span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box">
                    <table  class="table table-bordered  nowrap" id="datatable">
                        <thead>
                        <tr>
                            <th>Sr.</th>
                            <th>Date</th>
                            <th>Bidding Digit</th>
                            <th>Bidding Points  </th>
                            <th>Winning Points</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot id="footer"></tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $("#submitInfo").click(function(){

        const date = $("#datepicker-autoclose").val();
        const provider = $(".gameProvider").val();
        const gameType = $(".gameType").val();
        const session = $(".gameSession").val();
        
        console.log(date, session, gameType, provider);

        $.ajax({
            type: 'POST',
            url: "/totalBids/biddingDay",
            data: { date : date, provider : provider, gameType : gameType,session: session},
            dataType: 'json',
            success: function (data) {
                console.log(data);
                if (Object.keys(data).length === 0)
                {
                    console.log("No Data Available");
                    $('#datatable').dataTable().fnDeleteRow();
                    toastr["warning"]("Sorry No Data Found","Kuber Starline");
                }
                else
                {
                $("#datatable").DataTable().clear();
                let i=1;
                let total = 0;
                data.forEach(function(e) {
                    $('#datatable').dataTable().fnAddData( [
                        i,
                        e.gameDate,
                        e.bidDigit,
                        e.sumdigit,
                        e.winningDigit,
                ]);
                total = total + e.sumdigit;
                i++
                });
                console.log(total);
                let html = '<tr><td colspan="3" style="text-align: end;font-weight: bolder;font-size: medium">Total :</td><td style="font-weight: bolder;font-size: medium">'+ total +'</td><td></td></tr>';
                $("#footer").html(html);
                }
            }, 
            error: function (e) {
                console.log("There was an error with your request...");
                console.log("error: " + JSON.stringify(e));
            }
        });
   



    });

</script>