<% layout('../layout') %>

<div class="content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box pt-0 pb-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item " aria-current="page"><a href="/"> Home </a></li>
                            <li class="breadcrumb-item active" aria-current="page">Customer Balance</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Content-->
    <div class="container-fluid">
       <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box">
                    <h4 class="mt-0 header-title">View Customer Wallet</h4>
                    <div class="table-responsive" data-pattern="priority-columns">
                        <table id="datatable" class="table table-bordered dt-responsive nowrap">
                            <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Username</th>
                                <th>Real Name</th>
                                <th>Mobile</th>
                                <th>Balance</th>
                                <th>Last Updated</th>
                                <th>Edit</th>
                                <th>History</th>
                                <th>Profile</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-primary btn-sm waves-effect waves-light" data-toggle="modal" data-target="#custom-modal-edit"><i class="mdi mdi-square-edit-outline"></i></button>
                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-primary btn-sm waves-effect waves-light" data-toggle="modal" data-target="#custom-modal-history"><i class="mdi mdi-history"></i></button>
                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-primary btn-sm waves-effect waves-light" data-toggle="modal" data-target="#custom-modal-profile"><i class="fas fa-user"></i></button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="custom-modal-edit" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalScrollableTitle">Update Wallet Balance</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                <div class="form-group row">
                    <label >Type</label>
                    <select class="form-control">
                        <option>Credit</option>
                        <option>Debit</option>
                    </select>
                </div>
                <div class="form-group row">
                    <label>Amount</label>
                    <input type="number" name="amount" class="form-control" placeholder="Amount">
                </div>
                <div class="form-group row">
                    <label>Particular</label>
                    <select class="form-control">
                        <option>paytm</option>
                        <option>Debit</option>
                    </select>
                </div>
                <div class="text-center ">
                   <button type="button" class="text-center btn btn-bordred-dark waves-effect width-md waves-light">Submit</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div  id="custom-modal-history" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalScrollableTitle">User History</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container-fluid">
                    <div class="row ">
                        <div class="col-xl-12 col-md-12">
                            <div class="card-box">
                                <h4 class="mt-0 header-title">View All Users</h4>
                                <div class="table-responsive" data-pattern="priority-columns">
                                    <table id="datatable" class="datatable table table-bordered dt-responsive nowrap">
                                        <thead>
                                        <tr>
                                            <th> Current Amount</th>
                                            <th>Previous Amount	</th>
                                            <th>Transaction Amount	</th>
                                            <th>Description</th>
                                            <th>Transaction Date</th>
                                            <th>Transaction Time</th>
                                            <th>Transaction Status</th>
                                            <th>Added By</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                            <td></td>
                                            <td></td>

                                        </tr>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                            <td></td>
                                            <td></td>

                                        </tr>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                            <td></td>
                                            <td></td>

                                        </tr>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                            <td></td>
                                            <td></td>

                                        </tr>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div><!-- end col -->


                    </div>
                    <!-- end row -->
                </div>
            </div>
        </div>
    </div>
</div>

<div id="custom-modal-profile" class="modal fade" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalScrollableTitle">User Profile</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-box task-detail">

                    <div class="media mb-3 text-center">

                        <div class="media-body">
                            <div class="col-lg-12">
                                <img class="rounded-circle avatar-md" alt="64x64" src="assets/images/users/user-2.jpg">
                            </div>
                            <h4 class="media-heading mt-0">Michael Zenaty</h4>
                            <i class=" dripicons-location">Address</i>
                            <span> : 43/1 6 th cross kamakshiplya Bangalore</span>
                        </div>
                    </div>

                    <div class="row task-dates mb-0 mt-2 text-dark text-center">
                        <div class="col-lg-3">
                            <h5 class="font-600 m-b-5">City</h5>
                            <p> <small class="text-muted">Not Available</small></p>
                        </div>

                        <div class="col-lg-3">
                            <h5 class="font-600 m-b-5">Pincode</h5>
                            <p>  <small class="text-muted">Not Available</small></p>
                        </div>

                        <div class="col-lg-3">
                            <h5 class="font-600 m-b-5">Account No.</h5>
                            <p> <small class="text-muted">Not Available</small></p>
                        </div>

                        <div class="col-lg-3">
                            <h5 class="font-600 m-b-5">Bank Name</h5>
                            <p>  <small class="text-muted">Not Available</small></p>
                        </div>

                        <div class="col-lg-3">
                            <h5 class="font-600 m-b-5">IFSC Code</h5>
                            <p> <small class="text-muted">Not Available</small></p>
                        </div>

                        <div class="col-lg-3">
                            <h5 class="font-600 m-b-5">Account Holder Name</h5>
                            <p>  <small class="text-muted">Not Available</small></p>
                        </div>

                        <div class="col-lg-3">
                            <h5 class="font-600 m-b-5">Paytm Number</h5>
                            <p>  <small class="text-muted">Not Available</small></p>
                        </div>

                        <div class="col-lg-3">
                            <h5 class="font-600 m-b-5">Airtel Number</h5>
                            <p> <small class="text-muted">Not Available</small></p>
                        </div>

                        <div class="col-lg-3">
                            <h5 class="font-600 m-b-5">Phonepe Number</h5>
                            <p>  <small class="text-muted">Not Available</small></p>
                        </div>

                        <div class="col-lg-3">
                            <h5 class="font-600 m-b-5">Tez Number</h5>
                            <p> <small class="text-muted">Not Available</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



