<% layout('../layout') %>
<div class="content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box pt-0 pb-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item " aria-current="page"><a href="/"> Home </a></li>
                            <li class="breadcrumb-item active" aria-current="page">Fund Report</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="card-box">
            <h4 class="header-title mt-0 mb-3">Fund Report(ON HOLD)</h4>
            <div class="row">
                <div class="col-md-3">
                    <label class="col-form-label" >Date</label>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control sDate datepicker" placeholder="mm/dd/yyyy" id="datepicker-autoclose">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label" >Date</label>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control eDate datepicker" placeholder="mm/dd/yyyy" id="datepicker-autoclose">
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="col-form-label">Select Credit/Debit </label>
                    <div class="form-group">
                        <select id="inputState" class="form-control reqType">
                            <option value="Credit">Credit</option>
                            <option value="Debit">Debit</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="col-form-label">Perticular </label>
                    <div class="form-group">
                        <select id="inputState" class="form-control bankName">
                            <% for(index in data){%>
                            <option value="<%= data[index].bankName %>"><%= data[index].bankName %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="col-form-label">Select Admin</label>
                    <div class="form-group">
                        <select id="inputState" class="form-control adminid">
                            <option value="1324546">Select Admin</option>
                            <option value="1324546">Super Admin</option>
                            <option value="1324546">Staff Admin</option>
                            <option value="1324546">Ajay Sir</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <button class="btn btn-danger waves-effect waves-light btn-sm"> <span>Cancel&nbsp;</span></button>
                    <button class="btn btn-dark waves-effect waves-light btn-sm" id="sbmitInfo"> <span>Submit&nbsp;</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box">
                    <div class="table-responsive" data-pattern="priority-columns">
                        <table id="datatable" class="table table-bordered dt-responsive nowrap">
                            <thead>
                            <tr>
                                <th>Sr.</th>
                                <th>Username</th>
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>Time</th>
                                <th>Perticular</th>
                                <th>Amount</th>
                                <th>Added By</th>
                            </tr>
                            </thead>
                            <tbody id="fundData">
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#sbmitInfo").click(function()
    {
        const StartDate = $(".sDate").val();
        const EndDate = $(".eDate").val();
        const reqType = $(".reqType").val();
        const bankName = $(".bankName").val();
        const adminid = $(".adminid").val();

        if(!StartDate || !EndDate)
        {
            toastr["info"]('Starting Date And End Date Cannot Be Empty', "Kuber Starline");
        }
        else
        {
            $.ajax({
            type: "post",
            url: "/fundReport",
            data: { sdate : StartDate, edate : EndDate, bankName: bankName, reqType: reqType, admin_id: adminid},
            success: function(data) {
                   console.log(data);
                   let Html;
                   var i = 1;
                   data.forEach(function(e) {
                    Html += '<tr><td>' + i + '</td><td>' + e.username + '</td><td>' + e.username +'</td><td>' + e.mobile + '</td><td><p class="badge badge-purple">' + e.reqAmount + '</p></td><td><p class="badge badge-success">' + e.reqType+ '</p></td><td>'+ e.reqStatus +'</td><td>'+ e.reqDate +'</td><td>'+e.reqUpdatedAt+'</td></tr>';
                    i++

                }); $("#fundData").html(Html);
                }
            });
        }   
    });

    
</script>