<% layout('../layout') %>
<style>
.select2-selection__rendered{
    margin-top: -6px;
}
</style>
<div class="content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box pt-0 pb-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item " aria-current="page"><a href="/"> Home </a></li>
                            <li class="breadcrumb-item active" aria-current="page">Starline Sales Report</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

     <div class="col-xl-12">
        <div class="card-box">
            <h4 class="header-title mt-0 mb-3">Starline Sales Sales Report</h4>

            <div class="row">
                <div class="col-md-3">

                    <div class="form-group">
                        <label class="col-form-label">Start Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control datepicker sDate" placeholder="mm/dd/yyyy" id="datepicker-autoclose">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="ti-calendar"></i></span>
                                </div>
                            </div><!-- input-group -->
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label" >End Date</label>
                    <div class="form-group">
                        <div class="input-group">

                            <input type="text" class="form-control datepicker eDate" placeholder="mm/dd/yyyy" id="datepicker-autoclose">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="ti-calendar"></i></span>
                            </div>
                        </div><!-- input-group -->
                    </div>

                </div>
                
                <div class="col-md-3">
                    <label class="col-form-label">Provider Name</label>
                    <div class="form-group">
                        <select id="gameid" class="form-control" aria-placeholder="Select Game">
                            <%  for(index in data){ %>
                                <option value="<%= data[index]._id %>"><%= data[index].providerName %></option>
                            <%  } %>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label">Player Name</label>
                    <select id="arraySelect"></select>
                    <div id="output"></div>
                </div>
                <div class="col-md-12 text-center">
                    <button class="btn btn-danger waves-effect waves-light btn-sm"> <span>Cancel&nbsp;</span></button>
                    <button class="btn btn-dark waves-effect waves-light btn-sm" id="submitInfo"> <span>Submit&nbsp;</span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box">
                    <table  class="table table-bordered text-center nowrap">
                        <thead>
                        <tr>
                            <th>Sr.</th>
                            <th>Date</th>
                            <th>Bidding Points</th>
                            <th>Winning Points</th>
                            <th>Profit/Loss</th>
                        </tr>
                        </thead>
                        <tbody id="completedata">
                        <tr>
                            <td colspan="6">No Records Found</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$("#submitInfo").click(function(){
    const StartDate = $(".sDate").val();
    const EndDate = $(".eDate").val();
    const gameId = $("#gameid").val();
    const userId = $("#arraySelect").val();
    if(!StartDate || !EndDate)
    {
        toastr["info"]('Starting Date And End Date Cannot Be Empty', "Kuber Starline");
    }
    else
    {
        $.ajax({
        type: "post",
        url: "/salesReport/userReportStar/",
        data: { startDate : StartDate, endDate : EndDate, gameId: gameId, userId: userId },
        success: function(data) {
            console.log(data);
            let Html;
            var winPoint = 0;
            var bidPoint = 0;
            let pf;
                data.forEach(function(e) {
                    winPoint = winPoint + parseInt(e.gameWinPoints);
                    bidPoint = bidPoint + parseInt(e.biddingPoints);
                });
                pf = bidPoint - winPoint;
                Html = '<tr><td>1</td><td>' + StartDate + ' TO '+ EndDate +'</td><td>' + bidPoint +'</td><td>'+ winPoint  +'</td><td>'+ pf +'</td></tr>';
                $("#completedata").html(Html);
                $(".sDate").val("");
                $(".eDate").val("");
            }
        });
    }
});
</script>
<script>
$(document).ready(function() {
    $.fn.select2.defaults.set("theme", "bootstrap");
    $.fn.select2.defaults.set("width", "100%");
    
    $("#selectCtrl").select2({
        theme: "bootstrap",
        ajax: {
        url: "/salesReport/getUsername",

        processResults: function(data) {
            var result = [];
            for (var i = 0; i < data.length; i++) {
            result.push({
                id: data[i]._id,
                text: data[i].name
            });
            }
            return {
            results: result
            };
        }
        }
    });
    $("#staticSelect").select2({
        placeholder: "select a name",
        minimumResultsForSearch: -1
    });
    $("#selected").on("click", function() {
        $("#output").html($("#selectCtrl").select2('data'));
    });
    var selectData = [];
    $.ajax({
        url: "/salesReport/getUsername",
        type: "get"
    }).then(function (data) {
        $(data).each(function (i) {
        selectData.push({ id: data[i]._id, text: data[i].name });
        });
        $('#arraySelect').select2({
        data: selectData
        });
    });
});
</script>
