<% layout('../layout') -%>
<div class="content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box pt-0 pb-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item " aria-current="page"><a href="/"> Home </a></li>
                            <li class="breadcrumb-item active" aria-current="page">Detailed Bidding Report</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-12">
        <div class="card-box">
            <h4 class="header-title mt-0 mb-3">Detailed Bidding Report</h4>

            <div class="row">
                <div class="col-md-3">
                    <label class="col-form-label">Game Name </label>
                    <div class="form-group">
                        <select id="inputState" class="form-control provider">
                            <% for(index in provider) { %>
                                <option value="<%= provider[index]._id %>"><%= provider[index].providerName %></option>
                            <%}%>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label" >Game Type </label>
                    <div class="form-group">
                        <select id="inputState" class="form-control gameType">
                           <% for(index in list) { %>
                            <option value="<%= list[index]._id %>"><%= list[index].gameName %></option>
                            <%}%>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label">Game Session </label>
                    <div class="form-group">
                        <select id="inputState" class="form-control session">
                            <option value="Open">Open</option>
                            <option value="Close">Close</option>
                            <!-- <option value="3">Full Sangam</option>
                            <option value="4">Half Sangam</option> -->
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label">Date</label>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" placeholder="mm/dd/yyyy" id="datepicker-autoclose">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="ti-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <!-- <button class="btn btn-danger waves-effect waves-light btn-sm"> <span>Cancel&nbsp;</span></button> -->
                    <button class="btn btn-dark waves-effect waves-light btn-sm" id="submitInfo"> <span>Submit&nbsp;</span></button>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box">
                    <div class="table-responsive" data-pattern="priority-columns">
                        <table id="datatable" class="table table-bordered dt-responsive nowrap text-center">
                            <thead>
                            <tr>
                                <th>Sr</th>
                                <th>Username</th>
                                <th>Bracket</th>
                                <th>Bidding Points</th>
                                <th>Winning Points</th>
                                <th>Created At</th>
                            </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

$(function() {
  $("#datatable").DataTable();

  $("#submitInfo").click(function() {
    const providerName = $(".provider").val();
    const gameType = $(".gameType").val();
    const session = $(".session").val()
    const date = $("#datepicker-autoclose").val();
    loadData(providerName,gameType,session,date);
  });

  function loadData(providerName,gameType,session,date) {
    const providerName1 =providerName;
    const gameType1 = gameType;
    const session1 = session;
    const date1= date;
    $.ajax({
      type: 'GET',
      url: "/totalBids/gameBidsData",
      contentType: "text/plain",
      data : {providerName : providerName1, gameType: gameType1, session: session1, date: date1},
      dataType: 'json',
      success: function (data) {
        myJsonData = data;
        populateDataTable(myJsonData);
      },
      error: function (e) {
        console.log("There was an error with your request...");
        console.log("error: " + JSON.stringify(e));
      }
    });
  }

  function populateDataTable(data) {
    $("#datatable").DataTable().clear();
    if(Object.keys(data).length === 0){
        $('#datatable').dataTable().fnDeleteRow();
    }
    let i=1;
    data.forEach(function(e) {
        $('#datatable').dataTable().fnAddData( [
            i,
            e.userName,
            e.bidDigit,
            e.biddingPoints,
            e.gameWinPoints,
            e.createdAt
      ]);
      i++
    });
  }
});
</script>