<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
               2016 - 2019 &copy; Dpboss Dashboard
            </div>

        </div>
    </div>
</footer>

<script>
    let count = $("#count").text();
    let valueCount = parseInt(count) + 1;
    const pusher = new Pusher('6e949bd79592c3ee46f7', {
        cluster: 'ap2',
        forceTLS: true
    });
    const channel = pusher.subscribe('my-channel');
    channel.bind('my-event', function(data) {
        console.log(data.message);
        console.log(data.toast);
        getCount();
        document.getElementById("valueCount2").innerHTML = valueCount;
        let Html;
        Html = '<a href="/userList" class="dropdown-item notify-item active"><div class="notify-icon"><img src="../assets/images/users/user-1.jpg" class="img-fluid rounded-circle" alt="" /></div><p class="notify-details">' + data.message.name + '</p><p class="text-muted mb-0 user-msg"><small>New User Registered.</small></p></a>';
        $("#addNotification").append(Html);
    });
   
</script>
