<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu"  >
    <div class="slimscroll-menu">
        <div class="user-box text-center">
            <img src="../assets/images/users/user-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-thumbnail avatar-lg">
            <div class="dropdown">
                <a href="#" class="text-dark dropdown-toggle h5 mt-2 mb-1 d-block" data-toggle="dropdown">Nowak Helme</a>
                <div class="dropdown-menu user-pro-dropdown">

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-user mr-1"></i>
                        <span>My Account</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-settings mr-1"></i>
                        <span>Settings</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-lock mr-1"></i>
                        <span>Lock Screen</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-log-out mr-1"></i>
                        <span>Logout</span>
                    </a>

                </div>
            </div>
            <p class="text-muted">Admin Head</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#" class="text-muted">
                        <i class="mdi mdi-settings"></i>
                    </a>
                </li>

                <li class="list-inline-item">
                    <a href="#" class="text-custom">
                        <i class="mdi mdi-power"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div id="sidebar-menu">
            <ul class="metismenu" id="side-menu">
                <li>
                    <a href="/">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> Dashboard </span>
                    </a>
                </li>

                <li>
                    <a href="/userList">
                        <i class="fas fa-user-friends"></i>
                        <span> All Users </span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="fas fa-gamepad"></i>
                        <span> Games </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="/games">Games Provider</a></li>
                        <li><a href="/gamesSetting">Games Setting</a></li>
                        <li><a href="/gameList">Game Rates</a></li>
                        <li><a href="/gameResult">Game Result</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);">
                        <i class="ti-star"></i>
                        <span> Starline </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="/starlineProvider">Star Games Provider</a></li>
                        <li><a href="/starlinegamesetting">Games Setting</a></li>
                        <li><a href="/starlinegamerates">Game Rates</a></li>
                        <li><a href="/starlinegameresult">Game Result</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);">
                        <i class=" mdi mdi-diamond"></i>
                        <span> Andar Bahar </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="/providerAB">AB Game Provider</a></li>
                        <li><a href="/andarbahargamesetting">Game Setting</a></li>
                        <li><a href="/andarbahargamerates">Game Rates</a></li>
                        <li><a href="/ABProfitLoss">Game Profit Loss</a></li>
                        <li><a href="/andarbahargameresult">Game Result</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/jodiAll">
                        <i class="dripicons-graph-bar"></i>
                        <span> Jodi All </span>
                    </a>
                </li>
                <li>
                    <a href="/cuttinggroup">
                        <i class="dripicons-graph-pie"></i>
                        <span> Cutting Group </span>
                    </a>
                </li>
                <li>
                    <a href="/occuttinggrouprate">
                        <i class="dripicons-graph-bar"></i>
                        <span> New OC Cutting Group Rate </span>
                    </a>
                </li>
                <li>
                    <a href="/occuttinggroup">
                        <i class="dripicons-graph-line"></i>
                        <span> New OC Cutting Group </span>
                    </a>
                </li>              
                <li>
                    <a href="javascript: void(0);">
                        <i class="ti-wallet"></i>
                        <span> Wallet </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="/fundRequest">Fund Requests
                        <span class="badge badge-warning float-right" id="reqCount">0</span></a></li>
                        <li><a href="/exportDebitReport">Export Debit Report</a></li>
                        <li><a href="/invoices">Invoices</a></li>
                        <li><a href="/customerBalance">View Wallet</a></li>
                        <li><a href="/reqOnOff">Requests On / Off</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);">
                        <i class="ti-check"></i>
                        <span> Approved Debit Requests </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="/approvedReports/paytm">Paytm Requests</a></li>
                       <li><a href="/approvedReports/bank">Bank Account Requests</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/approvedReports/declined">
                        <i class=" ti-close"></i>
                        <span> Declined Requests </span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);">
                        <i class="ti-agenda"></i>
                        <span> Reports </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="/salesReport">Sales Report
                        </a></li>
                        <li><a href="/salesReport/starline">Starline Sales Report</a></li>
                        <li><a href="/salesReport/andarBahar">Andar Bahar Sales Report</a></li>
                        <li><a href="/totalBids/andarBaharBids">Andar Bahar Total Bids</a></li>
                        <li><a href="/fundReport">Fund Report</a></li>
                        <li><a href="/totalBids/games">Total Bids</a></li>
                        <li><a href="/ajaySirReport">Ajay Sir Report</a></li>
                        <li><a href="/creditDebit">Credit/Debit Report</a></li>
                        <li><a href="/fundReport/dailyReport">Daily Report
                        </a></li>
                        <li><a href="/totalBids/biddingReport">Bidding Report</a></li>
                        <li><a href="/customerBalance">Customer Balance</a></li>
                        <li><a href="/totalBids/allUserBids">All User Bids</a></li>
                        <li><a href="/analysys/usersBidsRatio">Users Bids Ratio</a></li>
                        <li><a href="/analysys/userStarlineRatio">Users Starline Bids Ratio</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/common/notification">
                        <i class="mdi mdi-bell-ring-outline"></i>
                        <span> Notification </span>
                    </a>
                </li>
                <li>
                    <a href="/common/news">
                        <i class="ti-blackboard"></i>
                        <span> News </span>
                    </a>
                </li>
                <li>
                    <a href="/marketingNumbers">
                        <i class="mdi mdi-cellphone-iphone"></i>
                        <span> Marketing Numbers </span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);">
                        <i class="fe-settings"></i>
                        <span> App Settings </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="/appSettings/HTP">How to play
                        </a></li>
                        <li><a href="/appSettings/noticeBoard">Notice Board</a></li>
                        <li><a href="/appSettings/profileNote">Profile Note</a></li>
                        <li><a href="/appSettings/walletContact">Wallet Contact</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);">
                        <i class="ti-money  "></i>
                        <span> Masters </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="/masters">Banks
                        </a></li>
                    </ul>
                </li>
                 </ul>
            </div>
        <div class="clearfix"></div>
    </div>
</div>
