<% layout('../layout') -%>
<div class="container-fluid">
    <div class="row ">
        <div class="col-xl-12 col-md-12">
            <div class="card-box pt-0 pb-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item " aria-current="page"><a href="/"> Home </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <h4 class="m-t-0 header-title">Change Password</h4>
                <div class="row">
                    <div class="col-12">
                        <div class="p-2">
                            <form class="form-horizontal" role="form">
                                <div class="form-group row">
                                    <label class="col-sm-2  col-form-label" for="simpleinput">Old Password</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="simpleinput" class="form-control" value="Enter Old Password">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2  col-form-label" for="example-textarea">New Password</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="simpleinput" class="form-control" value="Enter New Password">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2  col-form-label" for="simpleinput">Confirm New Password</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="simpleinput" class="form-control" value="Confirm New Password">
                                    </div>
                                </div>
                                <div class="form-group text-right mb-0">
                                    <button class="btn btn-primary waves-effect waves-light mr-1" type="submit">
                                        Submit
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
                <!-- end row -->

            </div> <!-- end card-box -->
        </div><!-- end col -->
    </div>
    <!-- end row -->
</div>