<% layout('../layout') %>
<div class="content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box pt-0 pb-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item " aria-current="page"><a href="/"> Home </a></li>
                            <li class="breadcrumb-item active" aria-current="page">Declined Report</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card-box">
            <h4 class="header-title mt-0 mb-3">Search By Approve Date</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" placeholder="mm/dd/yyyy" id="datepicker-autoclose">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-dark waves-effect waves-light btn-md" id="getData"> <span>Search</span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box">
                    <h3 class="header-title mt-0 mb-3">Declined Debit Requests</h3>
                    <div class="table-responsive" data-pattern="priority-columns">
                        <table id="datatable" class="table table-bordered text-center dt-responsive nowrap">
                            <thead>
                            <tr>
                                <th>Sr.</th>
                                <th>Username</th>
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>Time</th>
                                <th>Mode</th>
                                <th>Amount</th>
                                <th>Created On</th>
                                <th>Declined On</th>
                            </tr>
                            </thead>
                            <tbody id="paytm">
                            <% for(index in data){  var i = parseInt([index]); var j = i+1; %>
                            <tr>
                                <td> <%= i %></td>
                                <td><%= data[index].username %></td>
                                <td><%= data[index].fullname %></td>
                                <td><%= data[index].mobile %></td>
                                <td><%= data[index].reqTime %></td>
                                <td><p class="badge badge-success"><%= data[index].withdrawalMode %></p></td>
                                <td><p class="badge badge-purple"><%= data[index].reqAmount %></p></td>
                                <td><%= data[index].reqDate %></td>
                                <td><%= data[index].reqUpdatedAt%></td>
                            </tr>
                            <% }  %>
                            </tbody>
                        </table>
                        <br>
                        <h3 class="header-title mt-0 mb-3" id="totAmount">Total Amount Approved : <%= total %>/-
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $("#getData").click(function(){
        const date = $('#datepicker-autoclose').val();
        $.ajax({
            type: "get",
            url: "/approvedReports/declined_ajax",
            data: { date_cust : date},
            success: function(data) {
               if (Object.keys(data.approvedData).length === 0)
               {
                   toastr["info"]("Sorry, No Records Found", "Kuber Starline");
                   $('#datepicker-autoclose').val('');
               }
                let Html;
                let i = 1;
                data.approvedData.forEach(function(e) {
                    Html += '<tr><td>' + i + '</td><td>' + e.username + '</td><td>' + e.fullname +'</td><td>' + e.mobile + '</td><td>' + e.reqTime + '</td><td><p class="badge badge-success">' + e.withdrawalMode+ '</p></td><td><p class="badge badge-purple">'+ e.reqAmount +'</p></td><td>'+ e.reqDate +'</td><td>'+e.reqUpdatedAt+'</td></tr>';
                    i++
                }); $("#paytm").html(Html);
                document.getElementById("totAmount").innerHTML = "Total Amount Approved : " + data.total + "/-";
                $('#datepicker-autoclose').val('');
            }
        });
    });
</script>
