<% layout('../layout') %>
<div class="container-fluid">

    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card-box">
                <h4 class="header-title mt-0 mb-4 text-center">Total Revenue</h4>
                <div class="widget-chart-1">
                    <div class="widget-chart-box-1 float-left" dir="ltr">
                        <input data-plugin="knob" data-width="80" data-height="80" data-fgColor="#f05050 "
                               data-bgColor="#F9B9B9" value="50"
                               data-skin="tron" data-angleOffset="180" data-readOnly=true
                               data-thickness=".15"/>
                    </div>

                    <div class="widget-detail-1 text-right">
                        <h2 class="font-weight-normal pt-2 mb-1"> 256 </h2>
                        <p class="text-muted mb-1">Revenue today</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card-box">
                <h4 class="header-title mt-0 mb-3 text-center">Sales Analytics</h4>

                <div class="widget-box-2">
                    <div class="widget-detail-2 text-right">
                        <span class="badge badge-success badge-pill float-left mt-3">32% <i class="mdi mdi-trending-up"></i> </span>
                        <h2 class="font-weight-normal mb-1"> 8451 </h2>
                        <p class="text-muted mb-3">Revenue today</p>
                    </div>
                    <div class="progress progress-bar-alt-success progress-sm">
                        <div class="progress-bar bg-success" role="progressbar"
                             aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"
                             style="width: 77%;">
                            <span class="sr-only">77% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card-box">
                <h4 class="header-title mt-0 mb-4 text-center">Statistics</h4>

                <div class="widget-chart-1">
                    <div class="widget-chart-box-1 float-left" dir="ltr">
                        <input data-plugin="knob" data-width="80" data-height="80" data-fgColor="#ffbd4a"
                               data-bgColor="#FFE6BA" value="80"
                               data-skin="tron" data-angleOffset="180" data-readOnly=true
                               data-thickness=".15"/>
                    </div>
                    <div class="widget-detail-1 text-right">
                        <h2 class="font-weight-normal pt-2 mb-1"> 4569 </h2>
                        <p class="text-muted mb-1">Revenue today</p>
                    </div>
                </div>
            </div>

        </div><!-- end col -->

        <div class="col-xl-3 col-md-6">
            <div class="card-box">

                <h4 class="header-title mt-0 mb-3 text-center">Daily Sales</h4>

                <div class="widget-box-2">
                    <div class="widget-detail-2 text-right">
                        <span class="badge badge-pink badge-pill float-left mt-3">32% <i class="mdi mdi-trending-up"></i> </span>
                        <h2 class="font-weight-normal mb-1"> 158 </h2>
                        <p class="text-muted mb-3">Revenue today</p>
                    </div>
                    <div class="progress progress-bar-alt-pink progress-sm">
                        <div class="progress-bar bg-pink" role="progressbar"
                             aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"
                             style="width: 77%;">
                            <span class="sr-only">77% Complete</span>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- end col -->

    </div>
    <!-- end row -->

    <div class="row">
        <div class="col-xl-4">
            <div class="card-box">
                <h4 class="header-title mt-0 text-center">Daily Sales</h4>
                <div class="widget-chart text-center">
                    <div id="morris-donut-example" dir="ltr" style="height: 245px;" class="morris-chart"></div>
                    <ul class="list-inline chart-detail-list mb-0">
                        <li class="list-inline-item">
                            <h5 style="color: #ff8acc;"><i class="fa fa-circle mr-1"></i>Series A</h5>
                        </li>
                        <li class="list-inline-item">
                            <h5 style="color: #5b69bc;"><i class="fa fa-circle mr-1"></i>Series B</h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- end col -->

        <div class="col-xl-4">
            <div class="card-box">
                <h4 class="header-title mt-0 text-center">Statistics</h4>
                <div id="morris-bar-example" dir="ltr" style="height: 280px;" class="morris-chart"></div>
            </div>
        </div><!-- end col -->

        <div class="col-xl-4">
            <div class="card-box">
                <h4 class="header-title mt-0">Total Revenue</h4>
                <div id="morris-line-example" dir="ltr" style="height: 280px;" class="morris-chart"></div>
            </div>
        </div><!-- end col -->

    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="card-box">
                <h4 class="header-title mb-3 text-center">Credit Request</h4>

                <div class="inbox-widget">

                    <div class="inbox-item">
                        <div class="inbox-item-img"><img src="assets/images/users/user-1.jpg" class="rounded-circle" alt=""></div>
                        <h5 class="inbox-item-author mt-0 mb-1">Shubham Kushswah</h5>
                        <p class="inbox-item-text">Req. Amount : 5000/-</p>
                        <p class="inbox-item-date">
                            <button class="btn btn-dark waves-effect waves-light btn-xs mt-2"> <i class="fas fa-check-circle"></i></button>
                            <button class="btn btn-danger waves-effect waves-light btn-xs mt-2"> <i class="far fa-trash-alt"></i></button>
                        </p>
                    </div>

                    <div class="inbox-item">
                        <div class="inbox-item-img"><img src="assets/images/users/user-1.jpg" class="rounded-circle" alt=""></div>
                        <h5 class="inbox-item-author mt-0 mb-1">Shubham Kushswah</h5>
                        <p class="inbox-item-text">Req. Amount : 5000/-</p>
                        <p class="inbox-item-date">
                            <button class="btn btn-dark waves-effect waves-light btn-xs mt-2"> <i class="fas fa-check-circle"></i></button>
                            <button class="btn btn-danger waves-effect waves-light btn-xs mt-2"> <i class="far fa-trash-alt"></i></button>
                        </p>
                    </div>

                    <div class="inbox-item">
                        <div class="inbox-item-img"><img src="assets/images/users/user-1.jpg" class="rounded-circle" alt=""></div>
                        <h5 class="inbox-item-author mt-0 mb-1">Shubham Kushswah</h5>
                        <p class="inbox-item-text">Req. Amount : 5000/-</p>
                        <p class="inbox-item-date">
                            <button class="btn btn-dark waves-effect waves-light btn-xs mt-2"> <i class="fas fa-check-circle"></i></button>
                            <button class="btn btn-danger waves-effect waves-light btn-xs mt-2"> <i class="far fa-trash-alt"></i></button>
                        </p>
                    </div>

                    <div class="inbox-item">
                        <div class="inbox-item-img"><img src="assets/images/users/user-1.jpg" class="rounded-circle" alt=""></div>
                        <h5 class="inbox-item-author mt-0 mb-1">Shubham Kushswah</h5>
                        <p class="inbox-item-text">Req. Amount : 5000/-</p>
                        <p class="inbox-item-date">
                            <button class="btn btn-dark waves-effect waves-light btn-xs mt-2"> <i class="fas fa-check-circle"></i></button>
                            <button class="btn btn-danger waves-effect waves-light btn-xs mt-2"> <i class="far fa-trash-alt"></i></button>
                        </p>
                    </div>

                    <div class="inbox-item">
                        <div class="inbox-item-img"><img src="assets/images/users/user-1.jpg" class="rounded-circle" alt=""></div>
                        <h5 class="inbox-item-author mt-0 mb-1">Shubham Kushswah</h5>
                        <p class="inbox-item-text">Req. Amount : 5000/-</p>
                        <p class="inbox-item-date">
                            <button class="btn btn-dark waves-effect waves-light btn-xs mt-2"> <i class="fas fa-check-circle"></i></button>
                            <button class="btn btn-danger waves-effect waves-light btn-xs mt-2"> <i class="far fa-trash-alt"></i></button>
                        </p>
                    </div>

                    <div class="inbox-item">
                        <button type="button" class="btn btn-block btn-xs btn-purple waves-effect waves-light">See More</button>
                    </div>
                </div>
            </div>
        </div><!-- end col -->

        <div class="col-xl-8">
            <div class="card-box">
                <h4 class="header-title mt-0 mb-3 text-center">Latest Projects</h4>

                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Project Name</th>
                            <th>Start Date</th>
                            <th>Due Date</th>
                            <th>Status</th>
                            <th>Assign</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Adminto Admin v1</td>
                            <td>01/01/2017</td>
                            <td>26/04/2017</td>
                            <td><span class="badge badge-danger">Released</span></td>
                            <td>Coderthemes</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Adminto Frontend v1</td>
                            <td>01/01/2017</td>
                            <td>26/04/2017</td>
                            <td><span class="badge badge-success">Released</span></td>
                            <td>Adminto admin</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Adminto Admin v1.1</td>
                            <td>01/05/2017</td>
                            <td>10/05/2017</td>
                            <td><span class="badge badge-pink">Pending</span></td>
                            <td>Coderthemes</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Adminto Frontend v1.1</td>
                            <td>01/01/2017</td>
                            <td>31/05/2017</td>
                            <td><span class="badge badge-purple">Work in Progress</span>
                            </td>
                            <td>Adminto admin</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Adminto Admin v1.3</td>
                            <td>01/01/2017</td>
                            <td>31/05/2017</td>
                            <td><span class="badge badge-warning">Coming soon</span></td>
                            <td>Coderthemes</td>
                        </tr>

                        <tr>
                            <td>6</td>
                            <td>Adminto Admin v1.3</td>
                            <td>01/01/2017</td>
                            <td>31/05/2017</td>
                            <td><span class="badge badge-primary">Coming soon</span></td>
                            <td>Adminto admin</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- end col -->

    </div>
    <!-- end row -->

</div> <!-- container -->

</div> <!-- content -->
