<% layout('../layout') %>
<style>
.select2-selection__rendered{
    margin-top: -6px;
}
</style>
<div class="content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box pt-0 pb-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item " aria-current="page"><a href="/"> Home </a></li>
                            <li class="breadcrumb-item active" aria-current="page">Sales Report</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

     <div class="col-xl-12">
        <div class="card-box">
            <h4 class="header-title mt-0 mb-3">Sales Report</h4>

            <div class="row">
                <div class="col-md-3">

                    <div class="form-group">
                        <label class="col-form-label">Start Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control datepicker sDate" placeholder="mm/dd/yyyy" id="datepicker-autoclose">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="ti-calendar"></i></span>
                                </div>
                            </div><!-- input-group -->
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label" >End Date</label>
                    <div class="form-group">
                        <div class="input-group">

                            <input type="text" class="form-control datepicker eDate" placeholder="mm/dd/yyyy" id="datepicker-autoclose">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="ti-calendar"></i></span>
                            </div>
                        </div><!-- input-group -->
                    </div>

                </div>
                
                <div class="col-md-3">
                    <label class="col-form-label">Provider Name</label>
                    <div class="form-group">
                        <select id="gameid" class="form-control" aria-placeholder="Select Game">
                            <%  for(index in data){ %>
                                <option value="<%= data[index]._id %>"><%= data[index].providerName %></option>
                            <%  } %>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label">Session</label>
                    <select id="gameSession" class="form-control" aria-placeholder="Select Game">
                            <option value="Close">Close</option>
                    </select>
                </div>
                <div class="col-md-12 text-center">
                    <button class="btn btn-danger waves-effect waves-light btn-sm"> <span>Cancel&nbsp;</span></button>
                    <button class="btn btn-dark waves-effect waves-light btn-sm" id="submitInfo"> <span>Submit&nbsp;</span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box">
                    <table  class="table table-bordered text-center nowrap">
                        <thead>
                        <tr>
                            <th>Total Jodi Bid</th>
                            <th>Total Bid Amount</th>
                            <th>Win Bid Amount</th>
                            <th>Profit/Loss</th>
                        </tr>
                        </thead>
                        <tbody id="completedata">
                        <tr>
                            <td colspan="6">No Records Found</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$("#submitInfo").click(function(){
    const gameSession = $("#gameSession").val();
    const gameid = $("#gameid").val();
    const sDate = $(".sDate").val();
    const eDate = $(".eDate").val();

    $.ajax({
        type :"post",
        url : "/jodiAll",
        data : {gameSession : gameSession, gameid : gameid, sDate : sDate, eDate : eDate },
        success : function(data){
            let bidAmount = 0;
            let winAmount = 0;
            let i = 0;
            data.forEach(function(e) 
            {
                bidAmount += bidAmount + e.biddingPoints;
                winAmount += winAmount + e.gameWinPoints
                i++
            });

            const Profit = bidAmount - winAmount;
            html = '<tr><td>'+ i +'</td><td>'+ bidAmount +'</td><td>'+ winAmount +'</td><td>'+ Profit +'</td><tr>';
            $("#completedata").html(html);
            
        }
    });
});
</script>
