<% layout('../layout') -%>
<div class="container-fluid">
    <div class="row ">
        <div class="col-xl-12 col-md-12">
            <div class="card-box pt-0 pb-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item " aria-current="page"><a href="/"> Home </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Profit/Loss Calculations</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row ">
        <div class="col-xl-12 col-md-12">
            <div class="card-box ">
                <h4 class="mt-0 mb-0 header-title text-center">Profit/Loss Calculations</h4>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row ">
        <div class="col-xl-8 col-md-12">
            <div class="card-box">
                <p>Search Panel</p>
                <form role="form">
                    <div class="form-row">


                        <div class="form-group col-xl-4">
                            <label for="gamename">Start Date</label>
                            <input type="text" class="datepicker form-control">
                        </div>
                        <div class="form-group col-xl-4">
                            <label for="gamename">Provider Name</label>
                            <select class="form-control">
                                <option value="1">MORNING KUBER</option>
                                <option value="2">TIME BAZAR</option>
                                <option value="3">MILAN DAY</option>
                                <option value="4">RAJDHANI DAY</option>
                                <option value="5">KUBER DAY</option>
                                <option value="6">KALYAN</option>
                                <option value="7">KUBER NIGHT</option>
                                <option value="8">MILAN NIGHT</option>
                                <option value="9">RAJDHANI NIGHT</option>
                                <option value="10">MAIN MUMBAI</option>
                            </select>
                        </div>
                        <div class="form-group col-xl-4">
                            <label for="gamename">Game Session</label>
                            <select name="session" class="form-control">
                                <option value="">All</option>
                                <option value="open">Open</option>
                                <option value="close">Close</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                    </div>
                </form>

            </div>
        </div>
        <div class="col-xl-4 col-md-12">
            <div class="card-box">
                <div class="table-responsive">
                    <table class="table table-bordered mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th>Type</th>
                                <th> Bids</th>
                                <th>Amount</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Single Digit</td>
                                <td>0</td>
                                <td> 0 </td>
                            </tr>
                        </tbody>
                        <tfoot class="thead-light">
                            <tr>
                                <td colspan="2">Grand Total</td>
                                <td>
                                    <strong>
                                        0
                                    </strong>
                                </td>
                                <td>
                                    <strong>
                                        0
                                    </strong>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>