<% layout('../layout') %>

<div class="content">
    <div class="container-fluid animated fadeIn">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                 <div class="card-box pt-0 pb-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item " aria-current="page"><a href="/"> Home </a></li>
                          <li class="breadcrumb-item active" aria-current="page">All User</li>
                         </ol>
                    </nav>
                 </div>
            </div>
        </div>
    </div>
    <!-- Start Content-->
    <div class="container-fluid animated fadeIn">
         <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box">
                    <h4 class="mt-0 header-title">View All Users</h4>
                    <div class="table-responsive" data-pattern="priority-columns">
                    <table id="datatable" class="table table-bordered dt-responsive nowrap " >
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Username</th>
                            <th>Firstname</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Device Name</th>
                            <th>Device Id</th>
                            <th>Created</th>
                            <th>Profile</th>
                            <th>Banned</th>
                        </tr>
                        </thead>


                        <tbody>


                                <% for(index in users){
                                    var i = parseInt([index]);
                                    var j = i+1;
                                %>
                                <tr>
                                    <td><%= j %></td>
                                    <td><%= users[index].username %></td>
                                    <td><%= users[index].name %></td>
                                    <td><%= users[index].email %></td>
                                    <td><%= users[index].mobile %></td>
                                    <td><%= users[index].deviceName %></td>
                                    <td><%= users[index].deviceId %></td>
                                    <td><%= users[index].CtreatedAt %></td>
                                    <td>
                                        <button class="btn btn-info waves-effect waves-light btn-xs"> <i class=" fas fa-user mr-1"></i> <span>Profile</span> </button>
                                    </td>
                                    <td>
                                    <!--banned status : 0 => User Is Blocked -->
                                    <!--banned status : 1 => User Is Not Blocked -->
                                    <form action="/userList/<%= users[index]._id %>?_method=PATCH" method="post">
                                        <% if (  users[index].banned == 0 ){ %>
                                        <input type="hidden" name="status" value="1">
                                        <button class="btn btn-purple  waves-effect waves-light btn-xs"> <i class="fas fa-user mr-1"></i> <span>Un-Block</span> </button>
                                        <% } else { %>
                                        <input type="hidden" name="status" value="0">
                                        <button class="btn btn-danger waves-effect waves-light btn-xs"> <i class="fas fa-user-alt-slash mr-1"></i> <span>Block</span> </button>
                                        <% }%>
                                    </form>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                </div>
            </div><!-- end col --
        </div>
        <!-- end row -->
    </div> <!-- container -->

</div> <!-- content -->
