<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Dpboss Dashboard </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="../assets/images/favicon.ico">
    <link href="../assets/libs/custombox/custombox.min.css" rel="stylesheet">
    <link href="../assets/libs/bootstrap-colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="../assets/libs/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet">
    <link href="../assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/libs/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="../assets/libs/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="../assets/libs/datatables/buttons.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="../assets/libs/datatables/select.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="../assets/libs/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="../assets/libs/bootstrap-colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="../assets/libs/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/libs/morris-js/morris.css" />
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    

    <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/component-custom-switch.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/animate.min.css" />
    <link href="../assets/libs/toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script src="https://js.pusher.com/5.0/pusher.min.js"></script>
   
</head>

<body class="left-side-menu-dark">
<div id="wrapper">
    <%- include ./partials/_sidebar.ejs%>
    <div class="content-page  ">
        <%- include ./partials/_header.ejs%>
        <%- body %>
        <%- include ./partials/_footer.ejs%>
    </div>
</div>

<div class="rightbar-overlay"></div>
<script src="../assets/js/vendor.min.js"></script>
<script src="../assets/libs/custombox/custombox.min.js"></script>
<script src="../assets/libs/datatables/jquery.dataTables.min.js"></script>
<script src="../assets/libs/datatables/dataTables.bootstrap4.js"></script>
<script src="../assets/libs/datatables/dataTables.responsive.min.js"></script>
<script src="../assets/libs/datatables/responsive.bootstrap4.min.js"></script>
<script src="../assets/libs/datatables/dataTables.keyTable.min.js"></script>
<script src="../assets/libs/datatables/dataTables.select.min.js"></script>
<script src="../assets/js/pages/datatables.init.js"></script>
<script src="../assets/libs/jquery-knob/jquery.knob.min.js"></script>
<script src="../assets/libs/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
<script src="../assets/libs/sweetalert2/sweetalert2.min.js"></script>
<script src="../assets/js/pages/sweet-alerts.init.js"></script>
<script src="../assets/libs/multiselect/jquery.multi-select.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
<script src="../assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="../assets/libs/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>
<script src="../assets/libs/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="../assets/libs/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="../assets/libs/moment/moment.js"></script>
<script src="../assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="../assets/js/pages/form-advanced.init.js"></script>
<script src="../assets/libs/morris-js/morris.min.js"></script>
<script src="../assets/libs/raphael/raphael.min.js"></script>
<script src="../assets/libs/toastr/toastr.min.js"></script>
<script src="../assets/js/pages/toastr.init.js"></script>
<script src="../assets/js/pages/dashboard.init.js"></script>
<script src="../assets/js/app.min.js"></script>

<script>
    $(document).ready(function() {
        getCount();
    });

    function getCount(){
        $.ajax({
            type: 'get',    
            url: "/getCount",
            success : function(data){
                document.getElementById("reqCount").innerHTML = data;
            }
        });
    }

    $('.timepicker1').timepicker({
        autoclose: true
    });
    $('.timepicker').timepicker({
        autoclose: true
    });
    $('.datepicker').datepicker({
        autoclose: true
    });
    $('.datatable').dataTable({
        autoclose: true
    });
</script>
</body>
</html>
