<% layout('../layout') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <h4 class="m-t-0 header-title">Update How To Play</h4>
                <div class="row">
                    <div class="col-12">
                        <div class="p-2 form-horizontal">
                            <div class="form-group row">
                                <label class="col-sm-2  col-form-label" for="simpleinput">Title</label>
                                <div class="col-sm-10">
                                    <input type="text" id="title" class="form-control" value="<%= data[0].title %>">
                                    <input type="hidden" id="id" value="<%= data[0]._id %>">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2  col-form-label" for="example-textarea">Description</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="description" rows="5" ><%= data[0].Description %></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2  col-form-label" for="simpleinput">Video URL</label>
                                <div class="col-sm-10">
                                    <input type="text" id="url" class="form-control" value="<%= data[0].videoUrl
                                    %>">
                                </div>
                            </div>
                            <div class="form-group text-right mb-0">
                                <button class="btn btn-primary waves-effect waves-light mr-1" id="submit" type="submit">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
<script>
    $("#submit").click(function(){
        const title = $('#title').val();
        const desc = $('#description').val();
        const url = $('#url').val();
        const id=  $('#id').val();
        $.ajax({
            type: "POST",
            url: "/appSettings/update",
            data: { title : title, desc : desc, videoUrl: url,id:id },
            success: function(data)
            {
                $('#title').val(data.title);
                $('#description').val(data.Description);
                $('#url').val(data.videoUrl);
                $('#id').val(data._id);
                toastr["info"]("Description Updated Successfully", "Kuber Starline");
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "linear",
                    "hideEasing": "linear",
                    "showMethod": "slideDown",
                    "hideMethod": "fadeOut"
                }
            }
        });
    });
</script>
