<% layout('../layout') -%>
<div class="container-fluid">
    <h4 class="header-title mt-0 mb-3">Update Notice Board</h4>
    <form action="#" data-parsley-validate="" novalidate="">

        <!--section 1-->
        <div class="card-box">

                <div class="form-group">
                    <label for="userName"> Section 1 Title </label>
                    <input type="text" name="nick" parsley-trigger="change" required="" placeholder="Enter user name" class="form-control" id="userName">
                </div>
                <div class="form-group">
                    <label for="userName">Description</label>
                    <textarea required="" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="userName"> Contact </label>
                    <input type="text" name="nick" parsley-trigger="change" required="" placeholder="Enter user name" class="form-control" id="userName">
                </div>
        </div>

        <!--section 2-->
        <div class="card-box">
                <div class="form-group">
                    <label for="userName"> Section 2 Title </label>
                    <input type="text" name="nick" parsley-trigger="change" required="" placeholder="Enter user name" class="form-control" id="userName">
                </div>
                <div class="form-group">
                    <label for="userName">Description</label>
                    <textarea required="" class="form-control"></textarea>
                </div>
        </div>

        <!--section 3-->
        <div class="card-box">
            <div class="form-group">
                <label for="userName"> Section 3 Title </label>
                <input type="text" name="nick" parsley-trigger="change" required="" placeholder="Enter user name" class="form-control" id="userName">
            </div>
            <div class="form-group">
                <label for="userName">Description</label>
                <textarea required="" class="form-control"></textarea>
            </div>
            <div class="form-group text-right mb-0">
                <button class="btn btn-primary waves-effect waves-light mr-1" type="submit">
                    Submit
                </button>
            </div>
        </div>

    </form>
</div>