<% layout('../layout') %>
<div class="container-fluid">
    <h4 class="header-title mt-0 mb-3">Update Notice Board</h4>
    <div class="card-box">
        <div class="form-group">
            <label for="userName"> Section 1 Title </label>
            <input type="text"  value="<%= data[0].title1 %>" class="form-control" id="title1">
            <input type="hidden" id="id" value="<%= data[0]._id %>">
        </div>
        <div class="form-group">
            <label for="userName">Description</label>
            <textarea  class="form-control" id="description1"><%= data[0].description1 %></textarea>
        </div>
        <div class="form-group">
            <label for="userName"> Contact </label>
            <input type="text" value="<%= data[0].contact %>" class="form-control" id="contact">
        </div>
    </div>

    <div class="card-box">
        <div class="form-group">
            <label for="userName"> Section 2 Title </label>
            <input type="text"  value="<%= data[0].title2 %>" class="form-control" id="title2">
        </div>
        <div class="form-group">
            <label for="userName">Description</label>
            <textarea required="" id="description2" class="form-control"><%= data[0].description2 %></textarea>
        </div>
    </div>

    <div class="card-box">
        <div class="form-group">
            <label for="userName"> Section 3 Title </label>
            <input type="text" id="title3" value="<%= data[0].title3 %>" class="form-control" id="userName">
        </div>
        <div class="form-group">
            <label for="userName">Description</label>
            <textarea  class="form-control" id="description3"><%= data[0].description3 %></textarea>
        </div>
        <div class="form-group text-right mb-0">
            <button class="btn btn-primary waves-effect waves-light mr-1" id="submit" type="submit">
                Submit
            </button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
<script>
    $("#submit").click(function(){
        const title1 = $('#title1').val();
        const title2 = $('#title2').val();
        const title3 = $('#title3').val();
        const desc1 = $('#description1').val();
        const desc2 = $('#description2').val();
        const desc3 = $('#description3').val();
        const contact = $('#contact').val();
        const id=  $('#id').val();
        $.ajax({
            type: "POST",
            url: "/appSettings/updateNotice",
            data: { title1 : title1,title3 : title3,title2 : title2, desc1 : desc1,desc2 : desc2,desc3 : desc3, contact: contact,id:id },
            success: function(data)
            {
                 $('#title1').val();
                 $('#title2').val();
                 $('#title3').val();
                 $('#description1').val();
                 $('#description2').val();
                 $('#description3').val();
                 $('#contact').val();
                 $('#id').val();
                toastr["info"]("Description Updated Successfully", "Kuber Starline");
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "linear",
                    "hideEasing": "linear",
                    "showMethod": "slideDown",
                    "hideMethod": "fadeOut"
                }
            }
        });
    });
</script>
