<% layout('../layout') %>
<div class="container-fluid">
    <h4 class="header-title mt-0 mb-3">Update Wallet related query contact no </h4>
    <div class="card-box">
        <div class="form-group">
            <label for="userName"> Contact No </label>
            <input type="text" class="form-control" id="userName" value="<%= data[0].number %>">
            <input type="hidden" value="<%= data[0]._id %>" id="id">
        </div>
        <div class="form-group text-right mb-0">
            <button class="btn btn-primary waves-effect waves-light mr-1" type="submit" id="submit">
                Submit
            </button>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
<script>
    $("#submit").click(function(){
        const number = $('#userName').val();
        const id=  $('#id').val();
        $.ajax({
            type: "POST",
            url: "/appSettings/updatewalletContact",
            data: { number : number,id:id },
            success: function(data)
            {
                document.getElementById("userName").value = data.number;
                document.getElementById("id").value = data._id;
                toastr["info"]("Wallet Contact Number Updated Successfully", "Kuber Starline");
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "linear",
                    "hideEasing": "linear",
                    "showMethod": "slideDown",
                    "hideMethod": "fadeOut"
                }
            }
        });
    });
</script>
