<% layout('../layout') -%>
<div class="content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box pt-0 pb-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item " aria-current="page"><a href="/"> Home </a></li>
                            <li class="breadcrumb-item active" aria-current="page">Declined Report</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-6">
        <div class="card-box">
            <h4 class="header-title mt-0 mb-3">Search By Approve Date</h4>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" placeholder="mm/dd/yyyy" id="datepicker-autoclose">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <button class="btn btn-dark waves-effect waves-light btn-md"> <span>Search</span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box">
                    <h3 class="header-title mt-0 mb-3">APPROVED Debit Requests : Phonepe</h3>
                    <div class="table-responsive" data-pattern="priority-columns">
                        <table id="datatable" class="table table-bordered dt-responsive nowrap">
                            <thead>
                            <tr>
                                <th>Sr.</th>
                                <th>Username</th>
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>Time</th>
                                <th>Perticular</th>
                                <th>Amount</th>
                                <th>Added By</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                            </tr>

                            </tbody>
                        </table>
                        <br>
                        <h3 class="header-title mt-0 mb-3">Total Amount Approved : 0</h3>
                    </div>
                </div>
            </div><!-- end col -->
        </div>
        <!-- end row -->
    </div>
</div>
