<% layout('../layout') %>
<div class="container-fluid">
    <div class="row ">
        <div class="col-xl-12 col-md-12">
            <div class="card-box pt-0 pb-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item " aria-current="page"><a href="/"> Home </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Games Provider</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row ">
        <div class="col-xl-12 col-md-12">
            <div class="card-box">
                <h4 class="mt-0 header-title">Add Settings</h4>
                <p>Enter Your Game Settings</p>
                <div class="col-xl-6 offset-xl-3" >
                    <form role="form" action="/gamesSetting/insertSettings" method="post">
                        <div class="form-group">
                            <label for="gamename">Game Name</label>
                            <select class="form-control" name="gameid">
                                <option value="">Select Game</option>
                                <%  for(index in data){  %>
                                <option value="<%=data[index]._id %>"><%=data[index].providerName %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="result">Game Day</label>
                            <select multiple="" class="form-control" name="gameDay">
                                <option value="">Select Day</option>
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                                <option value="Saturday">Saturday</option>
                                <option value="Sunday">Sunday</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="result">OBT</label>
                            <input id="timepicker" type="text" name="game1" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="result">CBT</label>
                            <input id="timepicker"  type="text" name="game2" class="form-control timepicker1">
                        </div>
                        <div class="form-group">
                            <label for="result">OBRT</label>
                            <input id="timepicker"  type="text" name="game3" class="form-control timepicker1">
                        </div>
                        <div class="form-group">
                            <label for="result">CBRT</label>
                            <input id="timepicker"  type="text" name="game4" class="form-control timepicker1">
                        </div>
                        <div class="form-group">
                            <label for="gamename">Is Closed</label>
                            <select class="form-control" name="status">
                                <option value="1">Open</option>
                                <option value="0">Closed</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
