<% layout('../layout') %>
<style>
    .th{width: 15%;}
</style>
<div class="container-fluid"> <div class="row "> <div class="col-xl-12 col-md-12"> <div class="card-box pt-0 pb-0"> <nav aria-label="breadcrumb"> <ol class="breadcrumb"> <li class="breadcrumb-item" aria-current="page"><a href="/"> Home </a></li><li class="breadcrumb-item active" aria-current="page">Game Result</li></ol> </nav> </div></div></div></div><div class="container-fluid"> <div class="row "> <div class="col-xl-12 col-md-12"> <div class="card-box "> <h4 class="mt-0 mb-0 header-title text-center">Game Result</h4> </div></div></div></div><div class="container-fluid"> <div class="row "> <div class="col-xl-8 col-md-12"> <div class="card-box"> <p>Enter Your Game Settings</p><div class="form-row"> <div class="form-group col-xl-3"> <label for="gamename">Provider Name</label> <select class="form-control" name="providerId" id="providerId" required="required"> <% for(index in data){%> <%=data %> <option value="<%=data[index]._id %>|<%=data[index].providerName %>"> <%=data[index].providerName %></option> <%}%> </select> </div><div class="form-group col-xl-3"> <label for="gamename">Session</label> <select class="form-control" name="session" id="session" required="required"> <option value="Open">Open</option> <option value="closed">Closed</option> </select> </div><div class="form-group col-xl-3"> <label for="gamename">Result Date</label> <input required="required" type="text" name="resultDate" id="resultDate" class="datepicker form-control" placeholder="Select Date"> </div><div class="form-group col-xl-3"> <label for="gamename">Winning Digit</label> <input required="required" type="text" class="form-control" name="winningDigit" id="winningDigit" data-validate="number" id="winning_digit" placeholder="Enter Winning Digit"> <p id="p_error" class="text-center" ></p></div></div><p class="text-center mb-0"> <button class="btn btn-danger waves-effect waves-light btn-sm">Cancel</button> <button onclick="insertdata()" class="btn btn-primary btn-sm">Submit</button> </p></div></div><div class="col-xl-4 col-md-12"> <div class="card-box"> <p>Search Result</p><div class="form-group "> <label for="gamename">Result Date</label> <input required="required" name="date" type="text" class="datepicker form-control" placeholder="Select Date" id="datepicker-autoclose"> </div><p class="text-center mb-0"> <button type="submit" data-toggle="modal" data-target="#custom-modal-result-history" id="getResult" class="btn btn-primary btn-sm ">Submit</button> </p><br/> </div></div><div class="col-xl-12 col-md-12"> <div class="card-box"> <div class="table-responsive"> <table class="table text-center table-bordered mb-0"> <thead> <tr> <th>Sr.</th> <th>Game Name</th> <th> Session</th> <th>Result Date</th> <th>Winning Digits</th> <th>Get Winners</th> <th>Actions</th> </tr></thead> <tbody id="tableresult" > <% for (index in result){var i=parseInt([index]); var j=i+1; %> <tr id="mb<%=result[index]._id %>"> <td><%=j %></td><td> <%=result[index].providerName %> </td><td> <%=result[index].session %> </td><td> <%=result[index].resultDate %> </td><td> <%=result[index].winningDigit %> </td><td class="th"> <p class="text-center mb-0"><a href="/winner" class="btn btn-bordred-purple waves-effect waves-light btn-xs"> <i class="fas fa-user-check mr-1"></i> <span>Get Winners List</span> </a></p></td><td class="th"><p class="text-center mb-0"><button type="button" data-id="<%=result[index]._id %>" onclick="dlt(this)" class="btn btn-bordred-dark waves-effect waves-light btn-xs"><i class="mdi mdi-square-edit-outline mr-1"></i><span>Delete Result </span></button> </p></td></tr><%}%> </tbody> </table> </div></div></div></div></div><div id="custom-modal-result-history" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true"> <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document"> <div class="modal-content"> <div class="modal-header"> <h4 class="modal-title" id="exampleModalScrollableTitle">Result History</h4> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> </div><div class="modal-body"> <div class="container-fluid"> <div class="row "> <div class="col-xl-12 col-md-12"> <div class="card-box"> <div class="table-responsive"> <table class="table text-center table-bordered mb-0"> <thead> <tr> <th>Sr.</th> <th>Game Name</th> <th>Session</th> <th>Result Date</th> <th>Winning Digits</th> </tr></thead> <tbody id="pastResult"> </tbody> </table> </div></div></div></div></div></div></div></div></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    function fetchData() {
        $.ajax({
            type: "GET",
            url: "/gameResult/",
            data: {name: "mohit"},
            success:
                function (data) {
                    var Html = "";
                    var i = 1;
                    data.forEach(function(e) {
                        Html += '<tr id="mb'+e._id +'"><td>' + i + '</td><td>' + e.providerName + '</td><td>' + e.session +' </td><td>' + e.resultDate + '</td><td>' + e.winningDigit + '</td><td class="th"><p class="text-center mb-0"><a href="/winner" class="btn btn-bordred-purple waves-effect waves-light btn-xs"><i class="fas fa-user-check mr-1"></i><span>Get Winners List</span></a></p></td><td class="th"><p class="text-center mb-0"><button type="button" data-id="'+e._id +'" onclick="dlt(this)" class="btn btn-bordred-dark waves-effect waves-light btn-xs"><i class="mdi mdi-square-edit-outline mr-1"></i><span>Delete Result </span></button></p></td></tr>';
                        i++
                    }); $("#tableresult").html(Html);
                }
        });
    }
</script>
<script>
    function insertdata() {
        const providerId = document.getElementById('providerId').value;
        const session = document.getElementById('session').value;
        const resultDate = document.getElementById('resultDate').value;
        const winningDigit = document.getElementById('winningDigit').value;
        $.ajax({
            type: "POST",
            url: "/gameResult/",
            data: { providerId: providerId, session: session, resultDate: resultDate, winningDigit: winningDigit },
            success: function (result) {
                $('#resultDate').val("");
                $('#winningDigit').val("");
                const result1 = result;

                if (result1 != 1) {
                    ! function(t) {
                        var e = function() {};
                        e.prototype.init = function() {
                            Swal.fire({
                                type: "error",
                                title: "Oops...",
                                text: result,
                                confirmButtonClass: "btn btn-confirm mt-2",
                            })
                        }, t.SweetAlert = new e, t.SweetAlert.Constructor = e
                    }(window.jQuery),
                        function(t) {
                            window.jQuery.SweetAlert.init()
                        }();
                }
                else {
                    fetchData();
                }
            },
            error: function(data) {
                alert("Something Occurred Please Contact The Developer");
            }
        });
    }
</script>
<script>
    function dlt(obj){
        const id = $(obj).attr('data-id');
        $.ajax({
            type: "delete",
            url: "/gameResult/delete",
            data: { userId : id },
            success: function() {
                $("#mb"+id).remove();
            }
        });
    }
</script>
<script>

    $( "#getResult" ).on( "click", function() {
        const date = $('#datepicker-autoclose').val();
        console.log(date);
        $.ajax({
            type: "GET",
            url: "/gameResult/pastResult",
            data: {date: date},
            success:
                function (data) {
                    document.getElementById("datepicker-autoclose").value = "";
                    let Html;
                    var i = 1;
                    data.forEach(function(e) {
                        Html += '<tr id="mb'+e._id +'"><td>' + i + '</td><td>' + e.providerName + '</td><td>' + e.session +'</td><td>' + e.resultDate + '</td><td>' + e.winningDigit + '</td></tr>';
                        i++
                    }); $("#pastResult").html(Html);
                }
        });
    });
</script>
