<% layout('../layout') -%>
<style>
    #SuccessBox {
        display: none
    }
</style>
<div class="content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box pt-0 pb-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item " aria-current="page"><a href="/"> Home </a></li>
                            <li class="breadcrumb-item active" aria-current="page">Banks</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-md-12">

                <div class="alert alert-success" id="SuccessBox">
                    <strong>Bank Added</strong> Successfully.
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8 ">
                                <div class="row">
                                    <div class="col-6">
                                        <h1 class="mt-0">Banks List</h1>
                                    </div>
                                    <div class="col-6">
                                        <a href="#custom-modal" class="btn btn-primary btn-sm waves-effect"
                                           data-animation="slit" data-plugin="custommodal" data-overlaycolor="#36404a"
                                           style="float: right;"><span> Add Bank </span> <i
                                                    class="fa fa-plus ml-1"></i></a>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table class="table table-centered table-bordered mb-0 text-center"
                                           id="btn-editable">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <%
                                        for(index in data){
                                            var i = parseInt([index]);
                                            var j = i+1;
                                        %>
                                        <tr>
                                            <td><%= j%></td>
                                            <td><%=data[index].bankName%></td>
                                            <td> <% if (  data[index].status == 0 ){ %>
                                                <p>Active</p>
                                                <% } else { %>
                                                <p>Disabled</p>
                                                <% }%>
                                            </td>
                                            <td>
                                                <form action="/masters/<%= data[index]._id %>?_method=PATCH"
                                                      method="post">
                                                    <% if (  data[index].status == 0 ){ %>
                                                    <input type="hidden" name="status" value="1">
                                                    <button class="btn btn-purple  waves-effect waves-light btn-xs">
                                                        <i class="fas fa-user mr-1"></i> <span>Un-Block</span>
                                                    </button>
                                                    <% } else { %>
                                                    <input type="hidden" name="status" value="0">
                                                    <button class="btn btn-danger waves-effect waves-light btn-xs">
                                                        <i class="fas fa-user-alt-slash mr-1"></i>
                                                        <span>Block</span>
                                                    </button>
                                                    <% }%>
                                                </form>
                                            </td>

                                        </tr>

                                        <%
                                        }
                                        %>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> <!-- end .table-responsive-->
                    </div> <!-- end card-body -->
                </div> <!-- end card -->
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div>
    <div id="custom-modal" class="modal-demo">
        <button type="button" class="close" onclick="Custombox.modal.close();">
            <span>&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="custom-modal-title">Add New Bank</h4>
        <div class="custom-modal-text">
            <div class="card-box">
                <div class="form-group">
                    <label for="userName">Name</label>
                    <input type="text" name="bankName" parsley-trigger="change" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="userName">Status</label>
                    <select class="form-control" name="status" id="status143">
                        <option value="0">Active</option>
                        <option value="1">Disabled</option>
                    </select>
                </div>


                <div class="form-group text-right mb-0">
                    <button class="btn btn-primary waves-effect waves-light mr-1"
                            onclick="insertdata(); Custombox.modal.close();">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function insertdata() {
        const name = document.getElementById('name').value;
        const status = document.getElementById('status143').value;
        $.ajax({
            type: "POST",
            url: "/masters/registerbank",
            data: { bankName: name, status: status },
            success: function (result) {
                $("#SuccessBox").show();
                document.getElementById('SuccessBox').style.display = "block";
            }
        });
    }
</script>
