<% layout('../layout') %>
<div class="container-fluid">
    <div class="row ">
        <div class="col-xl-12 col-md-12">
            <div class="card-box pt-0 pb-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item " aria-current="page"><a href="/"> Home </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Profit/Loss Calculations </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row ">
        <div class="col-xl-12 col-md-12">
            <div class="card-box ">
                <h4 class="mt-0 mb-0 header-title text-center">Andar Bahar Profit/Loss Calculations</h4>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row ">
        <div class="col-xl-8 col-md-12">
            <div class="card-box">
                <p>Search Panel</p>
                    <div class="form-row">
                        <div class="form-group col-xl-6">
                            <label for="gamename">Start Date</label>
                            <input type="text" class="datepicker form-control" placeholder="Select a Date" id="gameDate">
                        </div>
                        <div class="form-group col-xl-6">
                            <label for="gamename">Result Opening Time</label>
                            <select class="form-control" id="provideId">
                                <%  if(data){
                                    for(index in data){
                                %>
                                <option value="<%= data[index]._id %>"><%= data[index].providerName %></option>
                                <%}
                                } %>
                            </select>
                        </div>
                    </div>
                    <center>
                        <button class="btn btn-danger waves-effect waves-light btn-sm">Cancel</button>
                        <button type="submit" class="btn btn-primary btn-sm" id="submitInfo">Submit</button>
                    </center>
            </div>
        </div>
        <div class="col-xl-4 col-md-12">
            <div class="card-box">
                <table class="tablesaw table mb-0 tablesaw-swipe" data-tablesaw-mode="swipe" data-tablesaw-mode-switch="" data-tablesaw-minimap="" id="tablesaw-5771">
                    <thead>
                    <tr>
                        <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-sortable-default-col="" data-tablesaw-priority="3" class="">Type</th>
                        <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="2" class="">Bids</th>
                        <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1" class="">Amount</th>
                    </tr>
                    </thead>
                    <tbody style="font-size: 12px;" id="groupData">
                        <tr ><td class="text-center" colspan="3">No Data Available</td></tr>
                    </tbody>
                    <thead id="tfoot">
                        <tr >
                            <th  data-tablesaw-sortable-col="" data-tablesaw-priority="persist" class=" tablesaw-swipe-cellpersist">Grand Total</th>
                            <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="2"></th>
                            <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row ">
        <div class="col-xl-12 col-md-12">
            <div class="card-box">
                <div class="table-responsive" data-pattern="priority-columns">
                    <table id="datatable" class="table table-bordered dt-responsive nowrap">
                        <thead>
                        <tr>
                            <th>Sr.</th>
                            <th>Bracket</th>
                            <th>Amount</th>
                            <th>Provider</th>
                            <th>Type</th>
                            <th>Session</th>
                            <th>Game Date</th>
                            <th>Played on</th>
                            <th>Win Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $("#submitInfo").click(function(){

        const id = $("#provideId").val();
        const gameDate = $("#gameDate").val();
        
        $.ajax({
        type: "post",
        url: "/ABProfitLoss/getResult",
        data: { provider : id, date: gameDate },
        success: function (data) {
            console.log(data);
            let html;
            let TotalBid = 0;
            let TotalSum = 0;
            data.data.forEach(function(e){
                html +='<tr><td>'+e.gameType+'</td><td>'+e.countBid+'</td><td>'+e.sumdigit+'</td></tr>';
                TotalBid = TotalBid + e.countBid;
                TotalSum = TotalSum + e.sumdigit;
            });
            $("#groupData").html(html);
            $("#tfoot").html('<tr><th data-tablesaw-sortable-col="" data-tablesaw-priority="persist" class=" tablesaw-swipe-cellpersist">Grand Total</th><th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="2">'+ TotalBid +'</th><th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1" >'+ TotalSum +'</th></tr>')
        },
        error: function (e) {
                console.log("There was an error with your request...");
                console.log("error: " + JSON.stringify(e));
            }
       });
    });
</script>