<% layout('../layout') %>
<style>
    .th{
        width: 100px;
    }
</style>
<div class="content">
    <div class="container-fluid animated fadeIn">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box pt-0 pb-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" aria-current="page"><a href="/"> Home </a></li>
                            <li class="breadcrumb-item active" aria-current="page">Andar Bahar Games Provider</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid animated fadeIn">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box">
                    <h4 class="mt-0 header-title">Providers List</h4>
                    <a href="#custom-modal" class="btn btn-dark btn-sm  waves-light waves-effect float-right mb-2" data-animation="door" data-overlaycolor="#36404a" data-plugin="custommodal" >Add New Provider</a>
                    <table  class="table table-bordered  nowrap" >
                        <thead>
                        <tr>
                            <th>Sr.</th>
                            <th>Game Name</th>
                            <th>Game Result</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <%
                        for(var index in data){
                            var i = parseInt([index]);
                            var j = i+1;
                        %>
                        <tr id="rw<%=data[index]._id %>">
                            <td><%= j %></td>
                            <td><%=data[index].providerName %></td>
                            <td><%=data[index].providerResult %></td>
                            <td align="center" class="th">
                                <button type="button"  class="btn btn-icon waves-effect waves-light btn-purple mr-2 btn-sm" data-toggle="modal" data-target="#market-ratio" onclick="editttt('<%=data[index]._id %>')"><i class="mdi mdi-square-edit-outline"></i><span>Edit</span></button>
                            </td>
                            <td align="center" class="th">
                                <button data-userId="<%=data[index]._id %>" class="btn btn-icon waves-effect waves-light btn-danger btn-sm" onclick="fun(this)"> <i class=" mdi mdi-delete-forever"></i><span>Delete</span> </button>
                            </td>
                        </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
                <div id="custom-modal" class="modal-demo">
                    <button type="button" class="close" onclick="Custombox.modal.close();">
                        <span>&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="custom-modal-title">Add Your Games</h4>
                    <div class="custom-modal-text">
                        <div class="card-box">
                            <form role="form" action="/providerAB/insertGame" method="post">
                                <div class="form-group">
                                    <label for="gamename">Game Name</label>
                                    <input name="gamename"  type="text" class="form-control timepicker" placeholder="Enter Provider">
                                </div>
                                <div class="form-group">
                                    <label for="result">Result</label>
                                    <input type="text" class="form-control" name="result" placeholder="Enter Games Result">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="market-ratio" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalScrollableTitle">Edit Game Provider</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-box">
                    <form action="/providerAB?_method=PATCH" method="post" role="form">
                        <div class="form-group">
                            <label for="gamename">Game Name</label>
                            <input type="text" class="form-control" name="gamename" id="gamename" value="" aria-describedby="emailHelp" placeholder="Enter Games Name">
                            <input type="hidden" value="" id="userId" name="userId">
                        </div>
                        <div class="form-group">
                            <label for="result">Result</label>
                            <input type="text" class="form-control" name="result" id="result" value="" placeholder="Enter Games Result">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function fun(obj) {
        const userid = $(obj).attr('data-userId');
        $.ajax({
            type: "DELETE",
            url: "/providerAB?_method=DELETE",
            data: { userId : $(obj).attr('data-userId') },
            success: function (result) {
                $("#rw"+userid).remove();
                toastr["info"]("Deleted Successfully", "Yayy!!!!");
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "linear",
                    "hideEasing": "linear",
                    "showMethod": "slideDown",
                    "hideMethod": "slideUp"
                }
            }
        });
    }

    function editttt(id) {
        $.ajax({
            type: "GET",
            url: "/providerAB/specificUser",
            data: { userId : id },
            success: function (result) {
                console.log(result);
                $('#gamename').val(result.providerName);
                $('#result').val(result.providerResult);
                $('#userId').val(result._id);

            }
        });
    }

</script>
