<% layout('../layout') -%>
<div class="content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box pt-0 pb-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item " aria-current="page"><a href="/"> Home </a></li>
                            <li class="breadcrumb-item active" aria-current="page">Game List</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Content-->
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box">
                    <h4 class="mt-0 header-title">Game List</h4>

                    <table class="table table-bordered  nowrap">
                        <thead>
                            <tr>
                                <th>Sr.</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>


                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td align="center">
                                    <a href="#custom-modal-edit" data-animation="door" data-overlaycolor="#36404a"
                                        data-plugin="custommodal">
                                        <button class="btn btn-icon waves-effect waves-light btn-info btn-sm"> <i
                                                class="mdi mdi-square-edit-outline"></i><span>Edit</span>
                                        </button>
                                    </a>
                                </td>
                                <td align="center">
                                    <button class="btn btn-icon waves-effect waves-light btn-danger btn-sm"> <i
                                            class=" mdi mdi-delete-forever"></i><span>Delete</span> </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>



                <!-- Edit Modal -->
                <div id="custom-modal-edit" class="modal-demo">
                    <button type="button" class="close" onclick="Custombox.modal.close();">
                        <span>&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="custom-modal-title">Enter Your Game Name And Game Price</h4>
                    <div class="custom-modal-text">
                        <div class="card-box">
                            <form role="form">
                                <div class="form-group">
                                    <label for="gamename">Game Name</label>
                                    <input type="text" class="form-control" id="gamename" aria-describedby="emailHelp"
                                        placeholder="Enter Games Name">
                                </div>
                                <div class="form-group">
                                    <label for="result">Game Price</label>
                                    <input type="text" class="form-control" id="result" placeholder="Enter Game Price">
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>

                        </div>
                    </div>
                </div>

            </div><!-- end col -->


        </div>
        <!-- end row -->
    </div> <!-- container -->

</div> <!-- content -->