<% layout('../layout') -%>
<div class="container-fluid">
    <div class="row ">
        <div class="col-xl-12 col-md-12">
            <div class="card-box pt-0 pb-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item " aria-current="page"><a href="/"> Home </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Starline Game Settings</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box">
                    <h4 class="mt-0 header-title">Starline Game Settings</h4>
                    <a href="/andarbaharaddsetting" class="btn btn-primary btn-sm waves-effect float-right mb-2">Add New
                        Game
                        Settings</a>
                    <table class="table table-bordered  nowrap">
                        <thead>
                            <tr>
                                <th>Sr.</th>
                                <th>Game Name</th>
                                <th>Monday</th>
                                <th>Tuesday</th>
                                <th>Wednesday</th>
                                <th>Thursday</th>
                                <th>Friday</th>
                                <th>Saturday</th>
                                <th>Sunday</th>
                            </tr>
                        </thead>


                        <tbody>
                            <tr>
                                <td></td>
                                <td align="center"></td>
                                </td>
                                <td align="center"><a href="/andarbaharupdatesetting"
                                        class="btn btn-primary btn-sm waves-effect  mb-2">Update</a></td>
                                <td align="center"><a href="/andarbaharupdatesetting"
                                        class="btn btn-primary btn-sm waves-effect  mb-2">Update</a></td>
                                <td align="center"><a href="/andarbaharupdatesetting"
                                        class="btn btn-primary btn-sm waves-effect  mb-2">Update</a></td>
                                <td align="center"><a href="/andarbaharupdatesetting"
                                        class="btn btn-primary btn-sm waves-effect  mb-2">Update</a></td>
                                <td align="center"><a href="/andarbaharupdatesetting"
                                        class="btn btn-primary btn-sm waves-effect  mb-2">Update</a></td>
                                <td align="center"><a href="/andarbaharupdatesetting"
                                        class="btn btn-primary btn-sm waves-effect  mb-2">Update</a></td>
                                <td align="center"><a href="/andarbaharupdatesetting"
                                        class="btn btn-primary btn-sm waves-effect  mb-2">Update</a></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- Add Modal -->
                <div class="modal " id="custom-modal" tabindex="-1" role="dialog" aria-labelledby="custom-modal"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalScrollableTitle">Modal title</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="card-box">
                                    <form role="form">
                                        <div class="form-group">
                                            <label for="gamename">Game Name</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="result">Result</label>
                                            <select multiple="" class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="result">OBT</label>
                                            <input id="timepicker" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="result">CBT</label>
                                            <input id="timepicker" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="result">OBRT</label>
                                            <input id="timepicker" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="result">CBRT</label>
                                            <input id="timepicker" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="gamename">Is Closed</label>
                                            <select class="form-control">
                                                <option>Open</option>
                                                <option>Closed</option>
                                            </select>
                                        </div>

                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Edit Modal -->
                <div id="custom-modal-edit" class="modal-demo">
                    <button type="button" class="close" onclick="Custombox.modal.close();">
                        <span>&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="custom-modal-title">Add Your Games</h4>
                    <div class="custom-modal-text">
                        <div class="card-box">
                            <form role="form">
                                <div class="form-group">
                                    <label for="gamename">Game Name</label>
                                    <input type="text" class="form-control" id="gamename" aria-describedby="emailHelp"
                                        placeholder="Enter Games Name">
                                </div>
                                <div class="form-group">
                                    <label for="result">Result</label>
                                    <input type="text" class="form-control" id="result"
                                        placeholder="Enter Games Result">
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>

                        </div>
                    </div>
                </div>

            </div><!-- end col -->


        </div>
        <!-- end row -->
    </div> <!-- container -->

</div> <!-- content -->