<% layout('../layout') -%>
<div class="container-fluid">
    <div class="row ">
        <div class="col-xl-12 col-md-12">
            <div class="card-box pt-0 pb-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item " aria-current="page"><a href="/"> Home </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Profit/Loss Calculations </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row ">
        <div class="col-xl-12 col-md-12">
            <div class="card-box ">
                <h4 class="mt-0 mb-0 header-title text-center">Andar Bahar Profit/Loss Calculations</h4>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row ">
        <div class="col-xl-8 offset-xl-2 col-md-12">
            <div class="card-box">
                <p>Search Panel</p>
                <form role="form">
                    <div class="form-row">
                        <div class="form-group col-xl-3 offset-xl-3">
                            <label for="gamename">Start Date</label>
                            <input type="text" class="datepicker form-control">
                        </div>
                        <div class="form-group col-xl-3">
                            <label for="gamename">Result Opening Time</label>
                            <select class="form-control">
                                <option value="">Select Result Time</option>
                                <option value="1">10:30 AM</option>
                                <option value="2">02:30 PM</option>
                                <option value="3">06:30 PM</option>
                                <option value="4">10:30 PM</option>
                            </select>
                        </div>

                    </div>
                    <center>
                        <button class="btn btn-danger waves-effect waves-light btn-sm">Cancel</button>
                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                    </center>
                </form>

            </div>
        </div>

    </div>
</div>