<% layout('../layout') -%>
<div class="container-fluid">
    <div class="row ">
        <div class="col-xl-12 col-md-12">
            <div class="card-box pt-0 pb-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item " aria-current="page"><a href="/"> Home </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Andar Bahar Game Result</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row ">
        <div class="col-xl-12 col-md-12">
            <div class="card-box ">
                <h4 class="mt-0 mb-0 header-title text-center">Andar Bahar Game Result</h4>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row ">
        <div class="col-xl-8 col-md-12">
            <div class="card-box">
                <p>Add Your Game Result</p>
                <form role="form">
                    <div class="form-row">
                        <div class="form-group col-xl-3">
                            <label for="gamename">Provider Name</label>
                            <select class="form-control">
                                <option value="1">MORNING KUBER</option>
                                <option value="2">TIME BAZAR</option>
                                <option value="3">MILAN DAY</option>
                                <option value="4">RAJDHANI DAY</option>
                                <option value="5">KUBER DAY</option>
                                <option value="6">KALYAN</option>
                                <option value="7">KUBER NIGHT</option>
                                <option value="8">MILAN NIGHT</option>
                                <option value="9">RAJDHANI NIGHT</option>
                                <option value="10">MAIN MUMBAI</option>
                            </select>
                        </div>

                        <div class="form-group col-xl-3">
                            <label for="gamename">Result Date</label>
                            <input type="text" class="datepicker form-control">
                        </div>
                        <div class="form-group col-xl-3">
                            <label for="gamename">Winning Digit</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <center>
                        <button class="btn btn-danger waves-effect waves-light btn-sm">Cancel</button>
                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                    </center>
                </form>

            </div>
        </div>
        <div class="col-xl-4 col-md-12">
            <div class="card-box">
                <p>Search Result</p>
                <form role="form">
                    <div class="form-group ">
                        <label for="gamename">Result Date</label>
                        <input type="text" class="datepicker form-control">
                    </div>
                    <center>
                        <button type="submit" class="btn btn-primary btn-sm ">Submit</button>
                    </center>
                </form>
            </div>
        </div>
        <div class="col-xl-12 col-md-12">
            <div class="card-box">
                <div class="table-responsive">
                    <table class="table table-bordered mb-0">
                        <thead>
                            <tr>
                                <th>Sr.</th>
                                <th>Game Name</th>
                                <th> Session</th>
                                <th>Result Date</th>
                                <th>Winning Digits</th>
                                <th> Get Winners</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>1</th>
                                <td>TIME BAZAR</td>
                                <td> close</td>
                                <td> 2019-07-05</td>
                                <td> 239</td>
                                <td><button class="btn btn-info waves-effect waves-light btn-sm"> <i
                                            class="fas fa-user-check mr-1"></i> <span>Get Winners List</span> </button>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>