<% layout('../layout') -%>
<div class="container-fluid">
        <div class="row ">
                <div class="col-xl-12 col-md-12">
                        <div class="card-box pt-0 pb-0">
                                <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                                <li class="breadcrumb-item " aria-current="page"><a href="/"> Home </a>
                                                </li>
                                                <li class="breadcrumb-item active" aria-current="page">Add Settings
                                                </li>
                                        </ol>
                                </nav>
                        </div>
                </div>
        </div>
</div>
<div class="container-fluid">
        <div class="row ">
                <div class="col-xl-12 col-md-12">
                        <div class="card-box">
                                <h4 class="mt-0 header-title">Add Settings</h4>
                                <p>Enter Your Game Settings</p>
                                <div class="col-xl-6 offset-xl-3">
                                        <form role="form">
                                                <div class="form-group">
                                                        <label for="gamename">Game Name</label>
                                                        <select class="form-control">
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                        </select>
                                                </div>
                                                <div class="form-group">
                                                        <label for="result">Game Day</label>
                                                        <select multiple="" class="form-control">
                                                                <option value="">Select Day</option>
                                                                <option value="Monday">Monday</option>
                                                                <option value="Tuesday">Tuesday</option>
                                                                <option value="Wednesday">Wednesday</option>
                                                                <option value="Thursday">Thursday</option>
                                                                <option value="Friday">Friday</option>
                                                                <option value="Saturday">Saturday</option>
                                                                <option value="Sunday">Sunday</option>
                                                        </select>
                                                </div>
                                                <div class="form-group">
                                                        <label for="result">Bid Opens At</label>
                                                        <input type="text" class="form-control timepicker">
                                                </div>
                                                <div class="form-group">
                                                        <label for="result">Bid Close At</label>
                                                        <input type="text" class="form-control timepicker">
                                                </div>
                                                <div class="form-group">
                                                        <label for="result">OBRT</label>
                                                        <input type="text" class="form-control timepicker">
                                                </div>
                                                <div class="form-group">
                                                        <label for="gamename">Is Closed</label>
                                                        <select class="form-control">
                                                                <option>Open</option>
                                                                <option>Closed</option>
                                                        </select>
                                                </div>
                                                <button type="submit" class="btn btn-danger btn-sm">Cancel</button>
                                                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                                        </form>
                                </div>
                        </div>
                </div>
        </div>
</div>